{% load static %}

<div class="container-fluid orange-lumel-bg yellow-lumel pb-5">
    <div class="row pt-5 pb-5 custom-padding-bottom">
        <div class="col-6 col-sm-6 col-md-3">
            <div class="img-container">
                <img src="{% static 'lumel_app/img/logo-jaune.png' %}" alt="Logo" width="200">
            </div>
        </div>
        <div class="col-6 col-sm-6 col-md-9">
            <ul class="footer-list mt-4 ">
                <li>
                    <a class="footer-link" href="{% url 'lumel_app:main' %}#id_cabinet">Cabinet</a>
                </li>
                <li>
                    <a class="footer-link" href="{% url 'lumel_app:main' %}#id_expertises">Expertises</a>
                </li>
                <li>
                    <a class="footer-link" href="{% url 'lumel_app:actualites' %}">Actualités</a>
                </li>
                <li>
                    <a class="footer-link" href="{% url 'lumel_app:main' %}#id_honoraires">Honoraires</a>
                </li>
                <li>
                    <a class="footer-link" href="{% url 'lumel_app:main' %}#id_contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Div fixée en bas de l'écran et visible uniquement sur mobile -->
<div class="d-sm-none fixed-bottom text-white text-center py-2 d-flex blue-lumel-bg custom-border">
    <a href="https://maps.google.com/?q=26+rue+L%C3%A9opold+Bellan+75002+Paris" target="_blank"
       class="text-decoration-none text-white">
        <div class="svg-container d-flex align-items-center">
            <img class="me-2" src="{% static 'lumel_app/img/map-marker.svg' %}" alt="Logo" width="40">
            <p class="pt-3">26 rue Léopold Bellan <br>75002 - Paris</p>
        </div>
    </a>

    <div class="vertical-line"></div>
    <a href="mailto:contact@lumel-associees.fr" target="_blank"
       class="text-decoration-none text-white">
        <div class="svg-container d-flex">

            <img class="me-2" src="{% static 'lumel_app/img/envelope-check.svg' %}" alt="Logo" width="40">
            <p class="pt-3">Contactez-nous : <br>Nous écrire</p>
        </div>
    </a>

</div>

