{% load static %}

<div class="container-fluid orange-lumel-bg yellow-lumel">
    <div class="row pt-5 pb-5">
        <div class="col-6 col-sm-6 col-md-3">
            <div class="img-container">
                <img src="{% static 'lumel_app/img/logo-jaune.png' %}" alt="Logo" width="200">
            </div>
        </div>
        <div class="col-6 col-sm-6 col-md-9">
            <ul class="footer-list mt-4 ">
                <li>
                    <a class="footer-link" href="#id_cabinet">Cabinet</a>
                </li>
                <li>
                    <a class="footer-link" href="#id_expertises">Expertises</a>
                </li>
                <li>
                    <a class="footer-link" href="#">Actualités</a>
                </li>
                <li>
                    <a class="footer-link" href="#id_honoraires">Honoraires</a>
                </li>
                <li>
                    <a class="footer-link" href="#id_contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-8 pt-5 pb-2">
            <ul class="social-icons text-end">
                <li>
                    <a href="#">
                        <span class="fa-stack fa-xs" style="flex-shrink: 0;">
                            <i class="fas fa-square fa-stack-2x yellow-lumel"></i>
                            <i class="fab fa-facebook-f fa-stack-1x  orange-lumel"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="fa-stack fa-xs" style="flex-shrink: 0;">
                            <i class="fas fa-square fa-stack-2x yellow-lumel"></i>
                            <i class="fab fa-instagram fa-stack-1x  orange-lumel"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="fa-stack fa-xs" style="flex-shrink: 0;">
                            <i class="fas fa-square fa-stack-2x yellow-lumel"></i>
                            <i class="fab fa-twitter fa-stack-1x  orange-lumel"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="fa-stack fa-xs" style="flex-shrink: 0;">
                            <i class="fas fa-square fa-stack-2x yellow-lumel"></i>
                            <i class="fab fa-linkedin fa-stack-1x  orange-lumel"></i>
                        </span>
                    </a>
                </li>

            </ul>

        </div>
    </div>

</div>
</div>

