{% load static %}

<div class="container-fluid orange-lumel-bg yellow-lumel pb-5">
    <div class="row pt-5 pb-5">
        <div class="col-6 col-sm-6 col-md-3">
            <div class="img-container">
                <img src="{% static 'lumel_app/img/logo-jaune.png' %}" alt="Logo" width="200">
            </div>
        </div>
        <div class="col-6 col-sm-6 col-md-9">
            <ul class="footer-list mt-4 ">
                <li>
                    <a class="footer-link" href="{% url 'lumel_app:main' %}#id_cabinet">Cabinet</a>
                </li>
                <li>
                    <a class="footer-link" href="{% url 'lumel_app:main' %}#id_expertises">Expertises</a>
                </li>
                <li>
                    <a class="footer-link" href="{% url 'lumel_app:actualites' %}">Actualités</a>
                </li>
                <li>
                    <a class="footer-link" href="{% url 'lumel_app:main' %}#id_honoraires">Honoraires</a>
                </li>
                <li>
                    <a class="footer-link" href="{% url 'lumel_app:main' %}#id_contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
    
</div>
</div>

