{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Lumel Associées{% endblock %}

{% block section %}

<section id="legals" class="yellow-lumel-bg py-8">
<div class="legals__content" data-aos="fade-up">
    <h2>Mentions l&eacute;gales</h2>
    <p><br></p>
    <p>L&rsquo;acc&egrave;s au site <a href="https://www.lumel-associees.fr">https://www.lumel-associees.fr</a> (&laquo; le Site &raquo;) ainsi que l&rsquo;utilisation et la consultation de son contenu, s&rsquo;effectuent dans le cadre des mentions l&eacute;gales et CGU d&eacute;crites ci-apr&egrave;s.</p>
    <p>&nbsp;</p>
    <p>&Eacute;diteur du site&nbsp;: LUMEL ASSOCIEES - Association d&apos;avocats &agrave; responsabilit&eacute; professionnelle individuelle</p>
    <p>&Eacute;tablissement principal&nbsp;: 26, rue L&eacute;opold Bellan &ndash; 75002 Paris</p>
    <p>N&deg; SIREN : 979 211 075</p>
    <p>N&deg; TVA : FR71979211075</p>
    <p>Adresse email : <a href="mailto:contact@lumel-associees.fr">contact@lumel-associees.fr</a></p>
    <p>Directrice de la publication&nbsp;:</p>
    <p>Ma&icirc;tre Lucile QU&Eacute;NET&nbsp;</p>
    <p>H&eacute;bergeur du site&nbsp;:</p>
    <p>GoDaddy.com, LLC</p>
    <p>2155 E GoDaddy Way, Tempe, Arizona 85284, United States</p>
    <p>EU MOSS&nbsp;: EU372022452</p>
    <p>&nbsp;</p>
    <p>Les avocates exer&ccedil;ant au sein de l&rsquo;association sont&nbsp;:</p>
    <ul>
        <li>Maitre Marianne Carbonnel, avocate fran&ccedil;aise inscrite au Barreau de Paris (associ&eacute;e),</li>
        <li>Maitre Lucile Qu&eacute;net, avocate fran&ccedil;aise inscrite au Barreau de Paris (associ&eacute;e).</li>
    </ul>
    <p>&nbsp;</p>
    <p>Cr&eacute;dits&nbsp;:</p>
    <ul>
        <li>Webdesign&nbsp;: Marius Turpin, Malaury Lema&icirc;tre &amp; Axel Durand</li>
        <li>Logo : Marius Turpin&nbsp;</li>
        <li>Photos (portraits de l&rsquo;&eacute;quipe) : Pauline Gouablin</li>
    </ul>
    <p><br></p>
    <p>&nbsp;</p>
    <p>Propri&eacute;t&eacute; intellectuelle&nbsp;:</p>
    <p>L&rsquo;ensemble des marques, logos, signes, illustrations, textes, bases de donn&eacute;es, interfaces, architecture, codes sources, et plus g&eacute;n&eacute;ralement, tout &eacute;l&eacute;ment, mat&eacute;riel ou immat&eacute;riel, figurant sur ou composant le Site (ci-apr&egrave;s&nbsp;&laquo;&nbsp;les &Eacute;l&eacute;ments prot&eacute;g&eacute;s&nbsp;&raquo;) peuvent &ecirc;tre prot&eacute;g&eacute;s par des droits de propri&eacute;t&eacute; intellectuelle d&eacute;tenus par LUMEL ASSOCIEES ou ses partenaires.</p>
    <p>Les utilisateurs du Site s&rsquo;interdisent donc, sans l&rsquo;accord expr&egrave;s pr&eacute;alable de LUMEL ASSOCIEES, et sous peine de poursuites judiciaires, toute reproduction, repr&eacute;sentation, diffusion, adaptation, utilisation, transmission et t&eacute;l&eacute;chargement de l&rsquo;un quelconque des &Eacute;l&eacute;ments prot&eacute;g&eacute;s du site, y compris d&eacute;sassemblages, d&eacute;compilations, d&eacute;cryptages, extractions, t&eacute;l&eacute;chargement, r&eacute;utilisation, copies, en tout ou partie, sur tout support, et par tout proc&eacute;d&eacute;, connu ou inconnu &agrave; ce jour.</p>
    <p>&nbsp;</p>
    <p>Responsabilit&eacute;&nbsp;:</p>
    <p>Le contenu des mentions l&eacute;gales peut &agrave; tout moment faire l&rsquo;objet de mises &agrave; jour. Les &eacute;ventuelles modifications qui en r&eacute;sultent sont alors applicables d&egrave;s leur mise en ligne ; il est donc recommand&eacute; d&rsquo;en v&eacute;rifier r&eacute;guli&egrave;rement la teneur.&nbsp;</p>
    <p>Chaque utilisateur est seul responsable de l&rsquo;utilisation et de la consultation qu&rsquo;il fait du contenu du Site. LUMEL ASSOCIEES s&rsquo;efforce de v&eacute;rifier l&rsquo;exactitude des informations mentionn&eacute;es sur le Site. Toutefois, LUMEL ASSOCIEES n&rsquo;offre aucune garantie, expresse ou tacite, concernant le contenu du Site.</p>
    <p>LUMEL ASSOCIEES ne saurait &ecirc;tre tenue responsable des dommages subis par l&rsquo;utilisateur suite &agrave; l&rsquo;utilisation et &agrave; la consultation du Site et de ses contenus. Cette limitation de responsabilit&eacute; s&rsquo;&eacute;tend &agrave; tous les pr&eacute;judices directs ou indirects, mat&eacute;riels, financiers, informatiques, immat&eacute;riels, cons&eacute;cutifs &agrave; l&rsquo;acc&egrave;s, l&rsquo;usage ou la consultation du Site et des sites Internet li&eacute;s.</p>
    <p>De m&ecirc;me, les liens hypertextes pr&eacute;sent&eacute;s sur le site en direction de ressources ext&eacute;rieures ne sauraient engager la responsabilit&eacute; de LUMEL ASSOCIEES.</p>
</div>
</section>
{% endblock %}
