{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Lumel Associées{% endblock %}

{% block section %}


    <div class="container-fluid " style="--bs-gutter-x: 0; margin-bottom:10vh">
        <div id="accueil" class="yellow-lumel-bg">
            <div class="lumel-container blue-lumel ">
                <div class="container-accueil">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="citation montserrat-custom-bold">"L'art de la réussite consiste à savoir
                                s'entourer des
                                meilleurs."</h1>
                            <p class="signature montserrat-custom-light">John Fitzgerald Kennedy</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="blue-lumel-bg pt-5 pb-5">
            <div class="lumel-container yellow-lumel text-presentation-section">
                <div class="row">
                    <div class="col-12 montserrat-custom-bold">
                        <p class="mb-4">
                            Ensemble, nous défendons une vision commune du droit et de l'exercice de notre profession
                            mêlant
                            modernité et transparence. Fortes de nos formations et expériences, notre priorité est de
                            répondre
                            au
                            mieux aux attentes et exigences de notre clientèle.
                        </p>
                        <p class="pt-1">
                            Le cabinet s'attache à l'accompagnement et à la défense des entreprises comme des
                            particuliers
                            privilégiant une relation de confiance s'appuyant sur une communication claire.
                        </p>
                        <p class="pt-1">
                            Le cabinet conseille et représente également les personnes publiques en droit privé en tant
                            que titulaire d’un marché public.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white">
            <div id="id_expertises" class="lumel-container blue-lumel expertises-section">
                <div class="row">
                    <div class="my-slider">
                        <div>
                            <div class="row margin-left-exp">
                                <h4 class="montserrat-custom-bold">Droit immobilier</h4>
                                <div class="col-sm-12 col-md-6">
                                    <p>Lumel Associées accompagne et conseille ses clients tant particuliers que
                                        professionnels dans
                                        tous leurs projets immobiliers. Le Cabinet assure également la défense des
                                        droits de
                                        ses
                                        clients et les assiste dans toutes leurs problématiques et litiges immobiliers :
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <ul>
                                        <li>Baux commerciaux : rédaction, négociation, vie du bail, cession et
                                            sous-location, congé, résiliation, renouvellement, indemnité d’éviction,
                                            formations des professionnels de l’immobilier
                                        </li>
                                        <li>Baux précaires, professionnels, civils et d’habitation : rédaction,
                                            résiliation, impayés et formations des professionnels de l’immobilier
                                        </li>
                                        <li>Rédaction de modèles de contrats immobiliers : mandat achat/vente,
                                            partenariat, délégation de mandat, DIP, offre/promesse, agent commercial
                                        </li>
                                        <li>Cessions de fonds de commerce</li>
                                        <li>Ventes immobilières : vices cachés, réduction du prix, Vente en Etat Futur
                                            d’Achèvement, droit de préemption, voies d’exécution et ventes aux enchères
                                        </li>
                                        <li>Copropriété : représentation et contestation d’AG, troubles du voisinage,
                                            interprétation, contestation et recouvrement de charges de copropriété,
                                            exécution de travaux
                                        </li>
                                        <li>Construction : travaux et malfaçons, réception, mise en œuvre des garanties
                                            légales, mise en œuvre de la responsabilité de droit commun des
                                            constructeurs, sous-traitance
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row margin-left-exp">
                                <h4>Droit social</h4>
                                <div class="col-12 col-md-6">
                                    <p>Le cabinet intervient sur les problématiques juridiques liées au droit du travail
                                        auprès
                                        des entreprises, employeurs et salariés. Lumel Associées vous accompagne tout au
                                        long de la relation de travail, de sa formation, son exécution, jusqu’à sa
                                        rupture.
                                    </p>
                                </div>
                                <div class="col-12 col-md-6">
                                    <ul>
                                        <li>Rédaction de contrats de travail</li>
                                        <li>Accidents du travail et maladies professionnelles : le cabinet accompagne
                                            les
                                            victimes dans la reconnaissance du caractère professionnel de l’accident ou
                                            de
                                            la
                                            maladie, les assiste dans la détermination du préjudice subi et dans la
                                            défense
                                            de
                                            leurs intérêts devant la juridiction judiciaire
                                        </li>
                                        <li>Procédure de licenciement : le cabinet veille au respect des dispositions
                                            légales et
                                            conventionnelles applicables aux licenciements personnels et économiques
                                        </li>
                                        <li>Rupture conventionnelle : le cabinet accompagne employeurs et salariés
                                            dans la
                                            négociation de la rupture amiable du contrat de travail et l’accomplissement
                                            des
                                            formalités liées à ce mode de rupture
                                        </li>
                                        <li>Rupture du CDD : assistance sur les conséquences d’une rupture anticipée du
                                            CDD
                                        </li>
                                        <li>Rédaction de protocoles transactionnels</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row margin-left-exp">
                                <h4>Réparation du dommage corporel</h4>
                                <div class="col-12 col-md-6">
                                    <p>Le cabinet s’engage aux côtés des victimes de dommage corporel qu’il résulte
                                        d’accidents
                                        de la circulation, d’infractions pénales, d’accidents du travail ou d’accidents
                                        médicaux. À votre écoute, le cabinet défend vos intérêts et vous assiste dans le
                                        chiffrage de vos demandes de dommages et intérêts afin d’obtenir l’indemnisation
                                        de
                                        vos
                                        préjudices :
                                    </p>
                                </div>
                                <div class="col-12 col-md-6">
                                    <ul>
                                        <li>Victimes d’infractions pénales : juridictions répressives (parties civiles)
                                            et
                                            CIVI
                                            (Commission d’indemnisation des victimes)
                                        </li>
                                        <li>Fautes médicales, accidents médicaux, infections nosocomiales, affections
                                            iatrogènes, aléas thérapeutiques : juridictions civiles et administratives,
                                            CCI
                                            (Commission de conciliation et d’indemnisation)
                                        </li>
                                        <li>Accidents du travail et maladies professionnelles</li>
                                    </ul>
                                    <p>Le cabinet accompagne également les professionnels et acteurs de santé dans le
                                        cadre
                                        de
                                        la
                                        mise en jeu de leur responsabilité (conseil et contentieux disciplinaires,
                                        juridictions
                                        civiles et administratives).</p>

                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row margin-left-exp">
                                <h4>Droit patrimonial</h4>
                                <div class="col-12 col-md-6">
                                    <p>Le cabinet vous conseille et défend également dans les problématiques liées aux
                                        mesures de
                                        protection et au droit patrimonial des personnes et de la famille :</p>
                                </div>

                                <div class="col-12 col-md-6">

                                    <ul>
                                        <li>Incapacité (curatelle, tutelle, mandat de protection future)</li>
                                        <li>Indivisions</li>
                                        <li>Successions</li>
                                        <li>Libéralités (donations, legs)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row margin-left-exp">
                                <h4>Droit commercial</h4>
                                <div class="col-12 col-md-6">
                                    <p>Le cabinet intervient dans toutes les étapes de la vie des entreprises. Il vous
                                        propose
                                        un socle juridique adapté à votre secteur d’activité et vous assure la
                                        sécurisation
                                        de
                                        vos relations partenaires et clients. Lumel Associées vous assiste et vous
                                        représente
                                        également dans le cadre de résolutions amiables ou judiciaires de vos litiges :
                                    </p>
                                </div>
                                <div class="col-12 col-md-6">
                                    <ul>
                                        <li>Conditions générales de vente, d’achat et d’utilisation</li>
                                        <li>Contrats de prestations de services, de vente de biens et de
                                            partenariats
                                        </li>
                                        <li>Dépôt de marque, recherche d’antériorité et rédaction de mentions
                                            légales
                                        </li>
                                        <li>Contrats de franchise et de distribution</li>
                                        <li>Précontentieux : négociations amiables, rédaction et négociation de
                                            protocoles
                                            d’accords transactionnels
                                        </li>
                                        <li>Contentieux : inexécutions contractuelles, rupture des relations
                                            commerciales
                                            établies, concurrence déloyale
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div id="id_equipe">
            <div class="row name-row-right">
                <div class="col-12  col-md-5 bg-mar"></div>
                <div class="col-12  col-md-7 green-lumel-bg blue-lumel padding-name presentation-mar">
                    <h4 class="mb-4 montserrat-custom-bold mar-title">Marianne Carbonnel</h4>
                    <p class="montserrat-custom-light">
                        Avocate au Barreau de Paris depuis janvier 2018 elle exerce en droit civil, commercial et
                        immobilier.
                        Après une expérience auprès d'un cabinet d’avocats au Conseil d’État et à la Cour de cassation,
                        elle a exercé
                        au
                        sein des cabinets d'affaires parisiens Bersay et Ginestié en contentieux civil, commercial et
                        droit
                        économique.
                        Elle a été chargée de mission de suivi des opérations stratégiques immobilières au Ministère de
                        la
                        justice avant de co-fonder le cabinet Lumel Associées. Elle met ses compétences et sa rigueur au
                        service
                        de ses clients en veillant à ancrer sa pratique dans une approche moderne et personnalisée. Elle
                        est également avocate mandataire en transaction immobilières et formatrice auprès des
                        professionnels de l’immobilier.
                    </p>
                    <p class="montserrat-custom-light">
                        Marianne Carbonnel est titulaire d'un Master 1 Droit privé général et un Master 2 Droit
                        patrimonial
                        à
                        l'université de Paris 1- Panthéon Sorbonne.
                    </p>
                    <a href="https://www.linkedin.com/in/marianne-carbonnel-361a44139/">
                        <span class="fa-stack fa-2x fa-stack-mar">
                            <i class="fas fa-square fa-stack-2x blue-lumel"></i>
                            <i class="fab fa-linkedin fa-stack-1x  green-lumel"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="row name-row-left">
                <div class="col-sm-12 col-md-5 bg-lu order-md-last"></div>
                <!-- Colonnes secondaire, déplacée vers le bas sur les petits écrans -->
                <div class="col-sm-12 col-md-7 yellow-lumel-bg blue-lumel padding-name  presentation-lu order-md-first">
                    <!-- Colonnes principale, déplacée vers le haut sur les petits écrans -->
                    <h4 class="mb-4 montserrat-custom-bold lu-title">Lucile Quénet</h4>
                    <p>
                        Avocate au Barreau de Paris depuis mai 2019, Lucile Quénet exerce principalement en réparation
                        du
                        dommage
                        corporel et droit social au sein du cabinet Lumel Associées qu'elle a cofondé. Au cours de ses
                        expériences au sein de cabinets d'avocats et de la Cour d'appel de Paris, elle a acquis
                        compétences
                        et
                        rigueur dans la défense des particuliers et des entreprises, notamment devant les juridictions
                        civiles
                        et prud'homales. Elle s’attache à l’assistance des victimes de dommage corporel et a reçu le
                        Diplôme d’Université Réparation du dommage corporel de l’Université Paris 1 Panthéon Sorbonne en
                        2022.


                    </p>
                    <p>
                        Lucile Quénet accompagne sa clientèle en proposant une défense sur mesure privilégiant exigence,
                        confiance et écoute.
                    </p>
                    <p>
                        Lucile Quénet est titulaire d'un Master 1 Droit des affaires et d'un Master 2 - Droit des
                        contrats
                        d'affaires à l'université de Montpellier 1
                    </p>
                    <a href="https://www.linkedin.com/in/lucile-qu%C3%A9net-765341131/">
                        <span class="fa-stack fa-2x fa-stack-lu">
                            <i class="fas fa-square fa-stack-2x blue-lumel"></i>
                            <i class="fab fa-linkedin fa-stack-1x  yellow-lumel"></i>
                        </span>
                    </a>
                </div>
            </div>

        </div>

        <div class="bg-white">
            <div class="lumel-container blue-lumel">
                <div id="id_honoraires" class="row">
                    <div class="col-12">
                        <h4 class="mb-4">Honoraires</h4>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <p>Le premier rendez-vous avec l'une des avocates de Lumel Associées consiste à analyser et
                            déterminer
                            les
                            besoins juridiques du client. Il est facturé au taux horaire de 250 euros HT. À son issue,
                            les
                            tarifs
                            appliqués par le cabinet sont fixés selon les usages en fonction de la nature et de la
                            complexité du
                            dossier, de la situation de fortune du client, des frais exposés par l'avocat, du travail de
                            recherche
                            et des diligences accomplies par ce dernier. Le cabinet conclut par écrit avec son client
                            une
                            convention
                            d'honoraires précisant le
                            montant ou le mode de détermination de ces honoraires. Lumel Associées propose, selon
                            l'ensemble
                            de
                            ces
                            critères :</p>
                        <ul>
                            <li>Des honoraires au temps passé qui feront régulièrement l'objet d'une facture détaillée
                                justifiant les diligences accomplies
                            </li>
                            <li>Des honoraires forfaitaires fixés selon la nature du dossier et pouvant
                                s'accompagner d'un honoraire de résultat calculé sur les montants obtenus
                                ou économisés par le client par voie transactionnelle ou contentieuse
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <p>À titre indicatif, les honoraires forfaitaires appliqués par le cabinet, hors honoraires de
                            résultat, sont : </p>
                        <ul>
                            <li>Rédaction d’une lettre de mise en demeure : à partir de 600 euros HT (720 euros TTC)
                            </li>
                            <li>Rédaction d’un protocole transactionnel : à partir de 1500 euros HT (1800 euros TTC)
                            </li>
                            <li>Procédure de référé devant le Tribunal judiciaire, le Tribunal de commerce ou le Conseil
                                de prud’hommes : à partir de 2500 euros HT (3000 euros TTC)
                            </li>
                            <li>Procédure au fond devant le Tribunal judiciaire, le Tribunal de commerce ou le Conseil
                                de prud’hommes : à partir de 3500 euros HT (4200 euros TTC)
                            </li>
                            <li>Procédure d’appel : à partir de 4500 euros HT (5400 euros TTC)</li>
                            <li>Rédaction de contrats : à partir de 2000 euros HT (2400 euros TTC)</li>
                            <li>Consultations sur devis</li>
                        </ul>


                    </div>
                </div>
                <div id="id_contact" class="row justify-content-between">
                    <div class="col-12">
                        <h4>Contact</h4>
                    </div>
                    <div class="col-sm-12 col-md-3 pt-4 col-contact ">
                        <p>Pour toute demande de rendez-vous, nous vous remercions de bien vouloir remplir ce
                            formulaire.
                            Nous
                            vous recontacterons dans les meilleurs délais afin de vous confirmer la disponibilité du
                            créneau
                            choisi.
                        </p>
                        <div>
                            <h5>Adresse</h5>
                            <p>
                                26 rue Léopold Bellan<br>
                                75002 - Paris<br>
                                <a href="mailto:lumel-associees@outlook.fr">lumel-associees@outlook.fr</a>
                            </p>
                        </div>
                        <div>
                            <h5>Métro</h5>
                            <p>
                                Sentier (ligne 3)<br>
                                Étienne Marcel (ligne 4)<br>
                            </p>
                        </div>
                        <div>
                            <h5>Bus</h5>
                            <p>
                                Bus 20 / Bus 39
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">

                        {% include "formulaire.html" %}

                    </div>

                </div>
            </div>
        </div>

    </div>



{% endblock %}

{% block js %}

    <script>
        let slider = tns({
            container: '.my-slider',
            items: 1,
            slideBy: 'page',
            autoplay: false,
            arrowKeys: true,
            nav: true,
            navPosition: 'bottom',
            navAsThumbnails: true,
            touch: true,
            controlsText: [
                '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 125" width="40" height="40" fill="#292E5E"><path stroke="#292E5E" stroke-width="6" d="M32.0625 103.03125A1 1 0 0 0 32.75 101.34375L10.21875 76 92 76C92.062316 76.01 92.125184 76.01 92.1875 76 92.711099 75.951 93.142837 75.42975 93.09375 74.90625 93.044663 74.38265 92.523599 73.9509 92 74L10.21875 74 32.75 48.6875A1.0069173 1.0069173 0 1 0 31.25 47.34375L7.25 74.34375A1 1 0 0 0 7.25 75.6875L31.25 102.6875A1 1 0 0 0 32.0625 103.03125z"/></svg>',
                '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 125" width="40" height="40" fill="#292E5E"><path stroke="#292E5E" stroke-width="6" d="M67.9375 21.96875A1 1 0 0 0 67.25 23.65625L89.78125 49 8 49C7.937684 48.99 7.8748163 48.99 7.8125 49 7.2889012 49.049 6.8571627 49.57025 6.90625 50.09375 6.955337 50.61735 7.4764012 51.0491 8 51L89.78125 51L67.25 76.3125A1.0069173 1.0069173 0 1 0 68.75 77.65625L92.75 50.65625A1 1 0 0 0 92.75 49.3125L68.75 22.3125A1 1 0 0 0 67.9375 21.96875z"/></svg>'
            ]
        });
    </script>


{% endblock %}


