{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Lumel Associées{% endblock %}

{% block section %}


    <main class="container-fluid " style="--bs-gutter-x: 0">


        <div id="accueil" class="yellow-lumel-bg">
            <div class="lumel-container blue-lumel" data-aos="fade-up">
                <div class="container-accueil">
                    <div class="row">
                        <div class="flex flex-column gap-4">
                            <h1 class="citation montserrat-custom-bold">
                                Pour des solutions juridiques éclairées
                            </h1>

                            <ul class="signature montserrat-custom pl-8">
                                <li>Réparation du dommage corporel</li>
                                <li>Droit social</li>
                                <li>Droit immobilier</li>
                                <li>Droit commercial</li>
                            </ul>
                            
                        </div>
                    </div>
                </div>

            </div>

            <div class="ampoule__container">
                <img src="{% static 'lumel_app/img/ampoule.png' %}" alt="Ampoule" class="ampoule">
            </div>


        </div>

        
        <div class="cabinet__container blue-lumel-bg pt-5 pb-5" id="id_cabinet">

            <div data-aos="fade-up" class="lumel-container flex flex-column gap-8">

            <!-- TITLE + SUBTITLE -->

            <h2 class="cabinet__title">
                Lumel Associées, à l’écoute de vos projets juridiques                        
            </h2>

            <div class="two__cols items-end" data-aos="fade-up">
                <div class="mt-2">
                    <p class="text-white font-bold">
                        Cabinet d’avocates aux spécialités complémentaires intervenant aussi bien en conseil, en négociation ou en contentieux.
                    </p>
                </div>


                <div class="cabinet__pin">
                <svg id="marker-cabinet" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M20 10C20 14.4183 12 22 12 22C12 22 4 14.4183 4 10C4 5.58172 7.58172 2 12 2C16.4183 2 20 5.58172 20 10Z" stroke="#F6EFA0" stroke-width="1.5"></path><path d="M12 11C12.5523 11 13 10.5523 13 10C13 9.44772 12.5523 9 12 9C11.4477 9 11 9.44772 11 10C11 10.5523 11.4477 11 12 11Z" fill="#F6EFA0" stroke="#F6EFA0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>                    <ul class="text-yellow font-semibold">
                        <li>Barreau de Paris</li>
                        <li>Compétence sur toute la France</li>

                    </ul>
                </div>
            </div>

         <!-- SIGNES DISTINCTIFS -->
          <div class="flex flex-column items-end py-16">
            <div class="cabinet__box__container">

                <div class="bg-white cabinet__box p-4" data-aos="zoom-in">
                    <h4>Nos clients</h4>
                    <p>
                        Particuliers et entreprises qui recherchent un accompagnement de qualité fondé sur une relation de confiance et une communication claire.
                    </p>
                </div>

                <div class="bg-white cabinet__box p-4" data-aos="zoom-in">
                    <h4>Autre singularité</h4>
                    <p>
                        Le cabinet, titulaire d’appels d’offres publics, conseille et représente des institutions publiques.
                    </p>

                </div>
            </div>

          </div>


            <!-- PHOTO -->
            <div class="two__cols pb-32" id="duo" data-aos="fade-in">
                <div>
                        <img 
                        data-src="{% static 'lumel_app/img/portrait-duo.jpeg' %}" 
                        class="lozad w-full object-cover" 
                        alt="Marianne Carbonnel"
                        >                            
                </div>

                <div class="px-8" data-aos="fade-up">
                    <ul class="text-white font-semibold">
                        <li>Animation d’ateliers, de webinaires et de formations pour renforcer les connaissances et compétences des équipes sur
                            un sujet juridique.</li>
                        <li>Les associées contribuent également à l’accessibilité de l’actualité et des analyses juridiques en publiant régulièrement des articles et infographies sur leurs spécialités.</li>

                    </ul>
                </div>
            </div>


            </div>
        </div>


<div class="blue-lumel-bg pb-5" id="id_expertises">
    <div class="lumel-container">
        <div class="row">
            <!-- Carte 1 -->
            <div class="col-md-4 mb-4 d-flex justify-content-center" data-aos="zoom-in">
                <div id="id_immobilier" class="card-container scroll__offset">
                    <div class="card">
                        <div class="card-front d-flex flex-column align-items-center p-3">
                            <div class="card-icon my-2">
                                <img src="{% static 'lumel_app/img/building.svg' %}" alt="Icone 1" width="50">
                            </div>
                            <h3 class="card-title">Droit immobilier</h3>
                            <hr class="my-3" style="width: 50%; border: none; height: 2px; background-color: #292E5E;">
                            <div class="text-start mt-auto">
                                <p>
                                    Sécuriser, en tant que particulier ou professionnel, ses projets immobiliers.
                                    <br><br>
                                    Être assisté dans la résolution des litiges immobiliers.
                                </p>
                            </div>
                            <button class="btn-flip mt-auto">En savoir plus</button>
                        </div>
                        <div class="card-back d-flex flex-column align-items-center p-3">
                            <h3 class="card-title pt-2">Droit immobilier</h3>
                            <ul class="text-start mt-auto">
                                <li>Assistance en <b>baux commerciaux,</b> précaires, professionnels, civils et d’habitation</li>
                                <li>Création de <b>contrats immobiliers,</b> mandats d’achat ou de vente, partenariats, délégations, offres, promesses et agents commerciaux</li>
                                <li>Gestion des <b>cessions de fonds de commerce et ventes immobilières</b></li>
                                <li>Assistance dans le cadre de <b>de préemption urbain</b></li>
                                <li>Expertise en <b>copropriété</b> pour assemblées générales, voisinage, charges et travaux</li>
                                <li>Conseil en <b>construction</b> et suivi de garantie légale, responsabilité, sous-traitance</li>
                            </ul>
                            <button class="btn-flip mt-auto">Retour</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Carte 2 -->
            <div class="col-md-4 mb-4 d-flex justify-content-center" data-aos="zoom-in" data-aos-delay="100">
                <div id="id_social" class="card-container scroll__offset">
                    <div class="card">
                        <div class="card-front d-flex flex-column align-items-center p-3">
                            <div class="card-icon my-2">
                                <img src="{% static 'lumel_app/img/users-alt.svg' %}" alt="Icone 2" width="50">
                            </div>
                            <h3 class="card-title">Droit social</h3>
                            <hr class="my-3" style="width: 50%; border: none; height: 2px; background-color: #292E5E;">
                            <div class="text-start mt-auto">
                                <p class="text-center">Être en mesure de défendre ses intérêts, en tant que chef d’entreprise ou salarié, tout au long de la relation de travail.</p>
                            </div>
                            <button class="btn-flip mt-auto">En savoir plus</button>
                        </div>
                        <div class="card-back d-flex flex-column align-items-center p-3">
                            <h3 class="card-title pt-4">Droit social</h3>
                            <ul class="mt-auto mb-auto">
                                <li>Conseil et rédaction de <b>contrats</b> de travail</li>
                                <li>Suivi des <b>accidents</b> du travail et des <b>maladies</b> professionnelles</li>
                                <li>Gestion des procédures de <b>licenciement</b></li>
                                <li>Accompagnement dans le cadre des <b>ruptures conventionnelles</b></li>
                                <li>Assistance pour les <b>ruptures anticipées</b> de CDD</li>
                                <li>Gestion des litiges <b>sociaux</b> en entreprise</li>
                            </ul>
                            <button class="btn-flip mt-auto">Retour</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Carte 3 -->
            <div class="col-md-4 mb-4 d-flex justify-content-center" data-aos="zoom-in" data-aos-delay="200">
                <div id="id_corporel" class="card-container scroll__offset">
                    <div class="card">
                        <div class="card-front d-flex flex-column align-items-center p-3">
                            <div class="card-icon my-2">
                                <img src="{% static 'lumel_app/img/hospital.svg' %}" alt="Icone 3" width="50">
                            </div>
                            <h3 class="card-title text-center">Droit et réparation du dommage corporel</h3>
                            <hr class="my-2" style="width: 50%; border: none; height: 2px; background-color: #292E5E;">
                            <div class="text-start mt-auto">
                                <p>
                                    Être défendu et assisté dans la détermination des préjudices subis : accidents de la circulation, infractions pénales, accidents médicaux, accidents du travail et maladies professionnelles.
                                </p>
                            </div>
                            <button class="btn-flip mt-auto">En savoir plus</button>
                        </div>
                        <div class="card-back d-flex flex-column align-items-center p-3">
                            <h3 class="card-title pt-4 text-center">Droit et réparation du dommage corporel</h3>
                            <ul class="mt-auto mb-auto">
                                    <li>Détermination et <b>chiffrage des préjudices</b> corporels et psychologiques subis</li>
                                    <li>Accompagnement à <b>l’expertise médicale</b></li>
                                    <li>Négociation de <b>provisions</b> avant l’indemnisation définitive</li>
                                    <li><b>Représentation</b> devant les juridictions compétentes</li>
                                    <li>Responsabilité médicale et <b>accidents médicaux</b></li>
                                    <li>Conseil aux <b>professionnels de santé</b> dans la mise en cause de leur responsabilité</li>
                            </ul>
                            <button class="btn-flip mt-auto">Retour</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Carte 5 -->
            <div class="col-md-4 mb-4 d-flex justify-content-center" data-aos="zoom-in" data-aos-delay="300">
                <div id="id_commercial" class="card-container scroll__offset">
                    <div class="card">
                        <div class="card-front d-flex flex-column align-items-center p-3">
                            <div class="card-icon my-2">
                                <img src="{% static 'lumel_app/img/analytics.svg' %}" alt="Icone 5" width="50">
                            </div>
                            <h3 class="card-title">Droit commercial</h3>
                            <hr class="my-3" style="width: 50%; border: none; height: 2px; background-color: #292E5E;">
                            <div class="text-start mt-auto">
                                <p>
                                    Encadrer et sécuriser ses relations d’affaires. Être accompagné dans toutes les étapes de vie de son entreprise.
                                </p>
                            </div>
                            <button class="btn-flip mt-auto">En savoir plus</button>
                        </div>
                        <div class="card-back d-flex flex-column align-items-center p-3">
                            <h3 class="card-title pt-4">Droit commercial</h3>
                            <ul class="mt-auto mb-auto">
                                <li>Rédaction des <b>conditions générales</b> de vente, d’achat et d’utilisation</li>
                                <li>Accompagnement dans les <b>contrats</b> de services, vente de biens, franchises et distribution</li>
                                <li>Dépôt de <b>marques</b> et recherche d’antériorités</li>
                                <li>Rédaction de <b>mentions légales</b></li>
                                <li>Gestion des <b>précontentieux</b> avec négociation de <b>protocoles d’accords</b> transactionnels</li>
                                <li>Contentieux pour <b>inexécutions contractuelles,</b> ruptures de relations commerciales, concurrence déloyale, etc.</li>
                            </ul>
                            <button class="btn-flip mt-auto">Retour</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Carte finale -->
            <div class="col-md-4 mb-4 d-flex justify-content-center" data-aos="zoom-in" data-aos-delay="400">
                <div class="card-container blue-lumel">
                    <div class="card d-flex flex-column align-items-center p-3">
                        <h3 class="card-title fw-bold pt-4 text-center">
                            Besoin d’un expert pour vous conseiller dans votre projet juridique ?
                        </h3>
                        <p class="pt-4 text-center">Contactez-nous pour planifier une étude de votre dossier.</p>

                        <a href="mailto:contact@lumel-associees.fr" class="btn btn-flip">
                            Contactez-nous
                        </a>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




        <div id="id_equipe">
            <div class="row name-row-right">
                <div class="col-12  col-md-5">
                    <img 
                    data-src="{% static 'lumel_app/img/PORTRAIT_PRO_MARIANNE.jpeg'' %}" 
                    class="lozad img-fluid" 
                    alt="Marianne Carbonnel"
                    >
                </div>

                <div class="col-12  col-md-7 green-lumel-bg blue-lumel padding-name presentation-mar">
                    <div data-aos="fade-in">
                    <h4 class="mb-4 montserrat-custom-bold mar-title">Marianne Carbonnel</h4>
                    <div class="montserrat-custom-light">
                        <p>Avocate au Barreau de Paris depuis janvier 2018, Me Carbonnel est sp&eacute;cialis&eacute;e en droit droit immobilier et droit commercial.</p>
                        <p>Me Carbonnel est dipl&ocirc;m&eacute;e de Licence 3 et Master I Droit priv&eacute; g&eacute;n&eacute;ral de l&rsquo;Universit&eacute; Paris 1 Panth&eacute;on Sorbonne. Elle est &eacute;galement dipl&ocirc;m&eacute;e du Master II recherche Droit patrimonial approfondi de l&rsquo;Universit&eacute; Paris 1 Panth&eacute;on Sorbonne.</p>
                        <p>Apr&egrave;s une exp&eacute;rience au sein d&rsquo;un cabinet d&rsquo;avocat aux Conseils, elle a exerc&eacute; de 2017 &agrave; 2020 en qualit&eacute; d&rsquo;avocate collaboratrice aupr&egrave;s de cabinets d&rsquo;affaires renomm&eacute;s (Bersay&amp;Associ&eacute;s, Ginesti&eacute;-Magellan) au sein du d&eacute;partement contentieux d&rsquo;affaires et droit commercial.</p>
                        <p>De 2020 &agrave; 2022, elle a int&eacute;gr&eacute; le minist&egrave;re de la Justice en qualit&eacute; de charg&eacute;e de mission de strat&eacute;gie immobili&egrave;re.</p>
                        <p>En juin 2023, elle co-fonde le cabinet LUMEL ASSOCIEES au sein duquel elle exerce en qualit&eacute; d&rsquo;associ&eacute;e.</p>
                        <p>Me Carbonnel est &eacute;galement avocate mandataire en transactions immobili&egrave;res et formatrice aupr&egrave;s des professionnels de l&rsquo;immobilier.</p>
                        <p>
                            Ses atouts : un conseil juridique de précision, une compréhension des enjeux économiques, une approche moderne du droit, de grandes qualités stratégiques et de négociation.
                        </p>
                    </div>

                    <a href="https://www.linkedin.com/in/marianne-carbonnel-361a44139/">
                        <span class="fa-stack fa-2x fa-stack-mar">
                            <i class="fas fa-square fa-stack-2x blue-lumel"></i>
                            <i class="fab fa-linkedin fa-stack-1x  green-lumel"></i>
                        </span>
                    </a>
                    </div>  
                </div>
            </div>
            <div class="row name-row-left">
                <div class="col-sm-12 col-md-5 order-md-last">
                    <img 
                    data-src="{% static 'lumel_app/img/PORTRAIT_PRO_LUCILE.jpeg'' %}" 
                    class="lozad img-fluid" 
                    alt="Lucile Quénet"
                    >
                                </div>
                <!-- Colonnes secondaire, déplacée vers le bas sur les petits écrans -->
                <div class="col-sm-12 col-md-7 yellow-lumel-bg blue-lumel padding-name  presentation-lu order-md-first">
                    <!-- Colonnes principale, déplacée vers le haut sur les petits écrans -->

                    <div data-aos="fade-in">

                    <h4 class="mb-4 montserrat-custom-bold lu-title">Lucile Quénet</h4>
                    
                    <div class="montserrat-custom-light">
                        <p>Avocate au Barreau de Paris depuis mai 2019, Me Qu&eacute;net est sp&eacute;cialis&eacute;e en droit du travail et en droit de la r&eacute;paration du dommage corporel.</p>
                        <p>Me Qu&eacute;net est dipl&ocirc;m&eacute;e d&rsquo;une licence 3 droit priv&eacute; &eacute;conomique et du Master I Droit des affaires de l&rsquo;Universit&eacute; de Montpellier. Elle est &eacute;galement dipl&ocirc;m&eacute;e du Master II Droit des contrats d&rsquo;affaires et de la distribution de l&rsquo;Universit&eacute; Montpellier I.</p>
                        <p>Apr&egrave;s une exp&eacute;rience &agrave; l&rsquo;international et une exp&eacute;rience au sein de la Cour d&rsquo;appel de Paris, elle a exerc&eacute; de 2019 &agrave; 2021 en qualit&eacute; d&rsquo;avocate collaboratrice aupr&egrave;s de cabinets renomm&eacute;s en droit du travail et en droit des victimes.</p>
                        <p>En septembre 2022, elle a &eacute;t&eacute; dipl&ocirc;m&eacute;e du Dipl&ocirc;me universitaire professionnel de l&rsquo;Universit&eacute; Paris I Panth&eacute;on Sorbonne en droit de la r&eacute;paration du dommage corporel (Droit de la responsabilit&eacute; civile) avec la mention assez bien.</p>
                        <p>En juin 2023, elle cofonde le cabinet LUMEL ASSOCIEES au sein duquel elle exerce en qualit&eacute; d&rsquo;associ&eacute;e.</p>
                        <p>
                        Ses atouts: un accompagnement méthodique et méticuleux, stratégies juridiques et procédurales sur mesure, grandes qualités d’écoute et d’analyse.
                        </p>

                    </div>
                    
                    <a href="https://www.linkedin.com/in/lucile-qu%C3%A9net-765341131/">
                        <span class="fa-stack fa-2x fa-stack-lu">
                            <i class="fas fa-square fa-stack-2x blue-lumel"></i>
                            <i class="fab fa-linkedin fa-stack-1x  yellow-lumel"></i>
                        </span>
                    </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="bg-white">
            <div class="lumel-container blue-lumel">
                <div id="id_honoraires" class="row" data-aos="fade-in">
                    <div class="col-12">
                        <h4 class="mb-4">Notre méthodologie et approche budgétaire</h4>
                    </div>


                    <div class="grid lg:grid-cols-2 gap-12">
                        <div>
                            <p class="font-bold">Un suivi cadré et transparent</p>
                            <p>À réception de votre demande, nous organisons un premier rendez-vous avec l&rsquo;avocate référente de la spécialité juridique concernée, au cours duquel nous analysons et déterminons précisément votre besoin.
                                <br>
                                <br>
                                Ce rendez-vous est facturé au taux horaire de 250 euros HT.</p>
                            <p>Une fois le besoin identifié, le cabinet conclut par écrit une convention d&rsquo;honoraires précisant le montant ou le mode de détermination de ces honoraires. 
                                <br>
                                <br>
                                <span class="font-bold">
                                À noter que les tarifs que nous appliquons sont fixés selon la nature et la complexité du dossier ainsi que des éventuels frais exposés par l&rsquo;avocat.
                            <br>
                            <br>
                            Lumel Associées propose, selon ces critères :
                        </span>

                            </p>
                        <ul>
                            <li>Des honoraires au temps passé qui feront régulièrement l'objet d'une facture détaillée
                                justifiant les diligences accomplies.
                            </li>
                            <li>Des honoraires forfaitaires fixés selon la nature du dossier et pouvant
                                s'accompagner d'un honoraire de résultat.
                            </li>
                        </ul>
                    </div>


                    <div>
                        <p class="font-bold">À titre indicatif, quelques exemples d’honoraires forfaitaires, hors honoraires de résultat :</p>
                        <ul>
                            <li>
                                <span class="font-medium">
                                Rédaction d’une lettre de mise en demeure&nbsp;: 
                            </span>
                                à partir de 600 euros HT (720 euros TTC)
                            </li>

                            <li>
                                <span class="font-medium">
                                Rédaction d’un protocole transactionnel&nbsp;: 
                            </span>
                            à partir de 1 500 euros HT (1 800 euros TTC)
                            </li>
                            <li>
                                <span class="font-medium">
                                Procédure de référé devant le Tribunal judiciaire, le Tribunal de commerce ou le Conseil de prud’hommes&nbsp;: 
                                </span>
                                à partir de 2 500 euros HT (3 000 euros TTC)</li>
                            <li>
                                <span class="font-medium">
                                Procédure au fond devant le Tribunal judiciaire, le Tribunal de commerce ou le Conseil de prud’hommes&nbsp;: 
                                </span>
                                à partir de 3 500 euros HT (4 200 euros TTC)</li>
                            <li>
                                <span class="font-medium">
                                Procédure d’appel&nbsp;: 
                                </span>
                                à partir de 4 500 euros HT (5 400 euros TTC)
                            </li>
                            <li>
                                <span class="font-medium">
                                Rédaction de contrats&nbsp;: 
                                </span>
                                à partir de 2 000 euros HT (2 400 euros TTC)
                            </li>
                        </ul>


                    </div>

                    </div>


                </div>
                <div id="id_contact" class="row justify-content-between pb-5">
                    <div class="col-12">
                        <h4>Contact</h4>
                    </div>
                    <div class="col-sm-12 col-md-3 col-contact ">
                        <p>
                            Pour toute demande de rendez-vous, nous vous remercions de bien vouloir remplir ce formulaire. Nous vous recontacterons dans les plus brefs délais.
                        </p>
                        <div>
                            <h5>Adresse</h5>
                            <p>
                                26 rue Léopold Bellan<br>
                                75002 - Paris<br>
                                <a href="mailto:contact@lumel-associees.fr">contact@lumel-associees.fr</a>
                            </p>
                        </div>
                        <div>
                            <h5>Métro</h5>
                            <p>
                                Sentier (ligne 3)<br>
                                Étienne Marcel (ligne 4)<br>
                            </p>
                        </div>
                        <div>
                            <h5>Bus</h5>
                            <p>
                                Bus 20 / Bus 39
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">

                        {% include "formulaire.html" %}

                    </div>

                </div>
            </div>
        </div>
        <div id="id_podcast" class="blue-lumel-bg pt-5 pb-5">
            <div class="lumel-container yellow-lumel">
                <div class="row justify-content-center gap-4">
                    <div class="col-12 montserrat-custom-bold">
                        <h4 class="mb-5 mt-5">Ils parlent de nous :</h4>
                    </div>

                    <div class="col-12 col-md-4" data-aos="zoom-in">
                        <a href="https://open.spotify.com/episode/5Glrr6qs1HCRoEvYbQaaCm?si=jB2FwCqxQZOxAcCgnAbFkw&nd=1&dlsi=e4ce8632cb784496"
                           class="text-decoration-none yellow-lumel"
                           target="_blank"
                           >
                            <div class="zoom-effect-container rounded mb-2">
                                <img src="{% static 'lumel_app/img/podcast(2).jpeg' %}" 
                                    class="w-full"
                                     alt="Logo">
                            </div>
                            <div class="d-flex align-items-start">
                                <img src="{% static 'lumel_app/img/reshot-icon-arrow-down-right-FZVECGQ5BR.svg' %}"
                                     class="img-fluid ms-1 me-2" alt="Logo">
                                <div>
                                    <h3 class="montserrat-custom-bold">
                                            Tout savoir sur le bail commercial avec Marianne Carbonnel
                                    </h3>
                                    <p class="font-xs">
                                        Podcast réalisé par l’Arrière Boutique
                                    </p>
                                    <p> Un épisode pour vous aider à y voir plus clair et éviter les pièges au travers de :</p>

                                <ul>
                                    <li>un point lexical (pas de porte, droit d'entrée, droit au bail, fonds de
                                        commerce, bail 3/6/9...)
                                    </li>
                                    <li>Points de vigilance dans le bail (objet, loyer, état des lieux, travaux,
                                        dépôt de garantie, cession et sous-location)
                                    </li>
                                    <li>Le fin du bail</li>
                                </ul>
                            </div>


                            </div>
                            
                        </a>

                    </div>

                    <div class="col-12 col-md-4 mt-5" data-aos="zoom-in">
                        <a href="https://open.spotify.com/episode/1Jt1KV5K2qSaAEL2P25cxN"
                           class="text-decoration-none yellow-lumel"
                           target="_blank"
                           >
                           <div class="zoom-effect-container rounded mb-2">
                            <img src="{% static 'lumel_app/img/podcast(2).jpeg' %}" class="w-full"
                                     alt="Logo">
                            </div>
                            <div class="d-flex align-items-start">
                                <img src="{% static 'lumel_app/img/reshot-icon-arrow-down-right-FZVECGQ5BR.svg' %}"
                                     class="img-fluid ms-1 me-2" alt="Logo">
                                <div>
                                    <h3 class="montserrat-custom-bold">
                                        Gérer vos Ressources Humaines par Lucile Quénet
                                </h3>
                                <p class="font-xs">
                                    Podcast réalisé par l’Arrière Boutique</p>
                                <p>
                                    Un épisode pour explorer les différentes phases du contrat de travail et d’un recrutement réussi où l’on parle de :
                                </p>   
                                
                                
                                <ul>
                                    <li>Les étapes essentielles quand on veut recruter</li>
                                    <li>L’élaboration du contrat de travail</li>
                                    <li>La vie quotidienne de l’entreprise et l’évolution du contrat de travail lors d’arrêts maladie, absences, accidents du travail...</li>
                                    <li>Les différents scenarii de ruptures contrat</li>
                                </ul>
                                
                                </div>

  
                            </div>
          
                        </a>

                    </div>


                </div>
            </div>
        </div>

    </main>



{% endblock %}

{% block js %}

    <script>


        // Sélectionne tous les boutons pour l'effet de flip
        document.querySelectorAll('.btn-flip').forEach(button => {
            button.addEventListener('click', () => {
                const card = button.closest('.card');
                card.classList.toggle('flipped');  // Ajoute ou retire la classe flipped pour basculer
            });
        });

    </script>


{% endblock %}


