{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Lumel Associées{% endblock %}

{% block section %}


    <div class="container-fluid " style="--bs-gutter-x: 0">
        <div id="accueil" class="yellow-lumel-bg">
            <div class="lumel-container blue-lumel ">
                <div class="container-accueil">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="citation montserrat-custom-bold">"L'art de la réussite consiste à savoir
                                s'entourer des
                                meilleurs."</h1>
                            <p class="signature montserrat-custom-light">John Fitzgerald Kennedy</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="blue-lumel-bg pt-5 pb-5">
            <div class="lumel-container yellow-lumel text-presentation-section">
                <div class="row">
                    <div class="col-12 montserrat-custom-bold">
                        <p class="mb-4">
                            Ensemble, nous défendons une vision commune du droit et de l'exercice de notre profession
                            mêlant
                            modernité et transparence. Fortes de nos formations et expériences, notre priorité est de
                            répondre
                            au
                            mieux aux attentes et exigences de notre clientèle.
                        </p>
                        <p class="pt-1">
                            Le cabinet s'attache à l'accompagnement et à la défense des entreprises comme des
                            particuliers
                            privilégiant une relation de confiance s'appuyant sur une communication claire.
                        </p>
                        <p class="pt-1">
                            Le cabinet conseille et représente également les personnes publiques en droit privé en tant
                            que titulaire d’un marché public.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="blue-lumel-bg pb-5" id="id_expertises">
    <div class="lumel-container">
        <div class="row">
            <!-- Carte 1 -->
            <div class="col-md-4 mb-4 d-flex justify-content-center">
                <div id="id_immobilier" class="card-container">
                    <div class="card">
                        <div class="card-front d-flex flex-column align-items-center p-3">
                            <div class="card-icon my-2">
                                <img src="{% static 'lumel_app/img/building.svg' %}" alt="Icone 1" width="50">
                            </div>
                            <h3 class="card-title">Droit immobilier</h3>
                            <hr class="my-3" style="width: 50%; border: none; height: 2px; background-color: #292E5E;">
                            <ul class="text-start mt-auto">
                                <li>Assistance complète en baux commerciaux, précaires, professionnels, civils et d’habitation.</li>
                                <li>Création de contrats immobiliers, mandats d’achat ou de vente, partenariats, etc.</li>
                            </ul>
                            <button class="btn-flip mt-auto">En savoir plus</button>
                        </div>
                        <div class="card-back d-flex flex-column align-items-center p-3">
                            <h3 class="card-title">Droit immobilier</h3>
                            <ul>
                                <li>Gestion des cessions de fonds de commerce et ventes immobilières.</li>
                                <li>Expertise en copropriété et conseil en construction.</li>
                            </ul>
                            <button class="btn-flip mt-auto">Retour</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Carte 2 -->
            <div class="col-md-4 mb-4 d-flex justify-content-center">
                <div id="id_social" class="card-container">
                    <div class="card">
                        <div class="card-front d-flex flex-column align-items-center p-3">
                            <div class="card-icon my-2">
                                <img src="{% static 'lumel_app/img/users-alt.svg' %}" alt="Icone 2" width="50">
                            </div>
                            <h3 class="card-title">Droit social</h3>
                            <hr class="my-3" style="width: 50%; border: none; height: 2px; background-color: #292E5E;">
                            <ul class="text-start mt-auto">
                                <li>Conseil et rédaction de contrats de travail.</li>
                                <li>Suivi des accidents de travail et maladies professionnelles.</li>
                            </ul>
                            <button class="btn-flip mt-auto">En savoir plus</button>
                        </div>
                        <div class="card-back d-flex flex-column align-items-center p-3">
                            <h3 class="card-title">Droit social</h3>
                            <ul>
                                <li>Gestion de procédures de licenciement.</li>
                                <li>Accompagnement en rupture conventionnelle.</li>
                            </ul>
                            <button class="btn-flip mt-auto">Retour</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Carte 3 -->
            <div class="col-md-4 mb-4 d-flex justify-content-center">
                <div id="id_corporel" class="card-container">
                    <div class="card">
                        <div class="card-front d-flex flex-column align-items-center p-3">
                            <div class="card-icon my-2">
                                <img src="{% static 'lumel_app/img/hospital.svg' %}" alt="Icone 3" width="50">
                            </div>
                            <h3 class="card-title text-center">Réparation du dommage corporel</h3>
                            <hr class="my-2" style="width: 50%; border: none; height: 2px; background-color: #292E5E;">
                            <ul class="text-start mt-auto">
                                <li>Accompagnement des victimes d’infractions pénales.</li>
                                <li>Gestion des dossiers de fautes médicales et accidents médicaux.</li>
                            </ul>
                            <button class="btn-flip mt-auto">En savoir plus</button>
                        </div>
                        <div class="card-back d-flex flex-column align-items-center p-3">
                            <h3 class="card-title">Réparation du dommage corporel</h3>
                            <ul>
                                <li>Assistance dans les accidents de travail.</li>
                                <li>Conseil aux professionnels de santé dans la gestion de leur responsabilité.</li>
                            </ul>
                            <button class="btn-flip mt-auto">Retour</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Carte 4 -->
            <div class="col-md-4 mb-4 d-flex justify-content-center">
                <div id="id_patrimonial" class="card-container">
                    <div class="card">
                        <div class="card-front d-flex flex-column align-items-center p-3">
                            <div class="card-icon my-2">
                                <img src="{% static 'lumel_app/img/balance-scale.svg' %}" alt="Icone 4" width="50">
                            </div>
                            <h3 class="card-title">Droit patrimonial</h3>
                            <hr class="my-3" style="width: 50%; border: none; height: 2px; background-color: #292E5E;">
                            <ul class="text-start mt-auto">
                                <li>Conseils en gestion de patrimoine et succession.</li>
                                <li>Gestion et conseils pour les indivisions, partages successoraux, etc.</li>
                            </ul>
                            <button class="btn-flip mt-auto">En savoir plus</button>
                        </div>
                        <div class="card-back d-flex flex-column align-items-center p-3">
                            <h3 class="card-title">Droit patrimonial</h3>
                            <ul>
                                <li>Expertise en résolution de litiges patrimoniaux.</li>
                                <li>Accompagnement dans les démarches juridiques pour la succession.</li>
                            </ul>
                            <button class="btn-flip mt-auto">Retour</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Carte 5 -->
            <div class="col-md-4 mb-4 d-flex justify-content-center">
                <div id="id_commercial" class="card-container">
                    <div class="card">
                        <div class="card-front d-flex flex-column align-items-center p-3">
                            <div class="card-icon my-2">
                                <img src="{% static 'lumel_app/img/analytics.svg' %}" alt="Icone 5" width="50">
                            </div>
                            <h3 class="card-title">Droit commercial</h3>
                            <hr class="my-3" style="width: 50%; border: none; height: 2px; background-color: #292E5E;">
                            <ul class="text-start mt-auto">
                                <li>Rédaction de conditions générales de vente et d'achat.</li>
                                <li>Accompagnement dans les contrats de services, franchises, etc.</li>
                            </ul>
                            <button class="btn-flip mt-auto">En savoir plus</button>
                        </div>
                        <div class="card-back d-flex flex-column align-items-center p-3">
                            <h3 class="card-title">Droit commercial</h3>
                            <ul>
                                <li>Dépôt de marque et recherches d’antériorité.</li>
                                <li>Gestion des précontentieux avec protocoles d’accord.</li>
                            </ul>
                            <button class="btn-flip mt-auto">Retour</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Carte finale -->
            <div class="col-md-4 mb-4 d-flex justify-content-center">
                <div class="card-container">
                    <div class="card card-front d-flex flex-column align-items-center p-4">
                        <h2 class="card-title fw-bold pt-4 text-center">Besoin d'une expertise juridique ?</h2>
                        <p class="pt-4 text-center">Contactez-nous pour planifier une étude de votre dossier.</p>
                        <div class="border blue-lumel-bg mt-5 p-1 w-100">
                            <a href="mailto:contact@lumel-associees.fr" class="btn btn-custom w-100 fw-bold">
                                Obtenir ma stratégie personnalisée
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="#292E5E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M5 12h13M12 5l7 7-7 7"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




        <div id="id_equipe">
            <div class="row name-row-right">
                <div class="col-12  col-md-5 bg-mar"></div>
                <div class="col-12  col-md-7 green-lumel-bg blue-lumel padding-name presentation-mar">
                    <h4 class="mb-4 montserrat-custom-bold mar-title">Marianne Carbonnel</h4>
                    <p class="montserrat-custom-light">
                        Avocate au Barreau de Paris depuis janvier 2018 elle exerce en droit civil, commercial et
                        immobilier.
                        Après une expérience auprès d'un cabinet d’avocats au Conseil d’État et à la Cour de cassation,
                        elle a exercé
                        au
                        sein des cabinets d'affaires parisiens Bersay et Ginestié en contentieux civil, commercial et
                        droit
                        économique.
                        Elle a été chargée de mission de suivi des opérations stratégiques immobilières au Ministère de
                        la
                        justice avant de co-fonder le cabinet Lumel Associées. Elle met ses compétences et sa rigueur au
                        service
                        de ses clients en veillant à ancrer sa pratique dans une approche moderne et personnalisée. Elle
                        est également avocate mandataire en transaction immobilières et formatrice auprès des
                        professionnels de l’immobilier.
                    </p>
                    <p class="montserrat-custom-light">
                        Marianne Carbonnel est titulaire d'un Master 1 Droit privé général et un Master 2 Droit
                        patrimonial
                        à
                        l'université de Paris 1- Panthéon Sorbonne.
                    </p>
                    <a href="https://www.linkedin.com/in/marianne-carbonnel-361a44139/">
                        <span class="fa-stack fa-2x fa-stack-mar">
                            <i class="fas fa-square fa-stack-2x blue-lumel"></i>
                            <i class="fab fa-linkedin fa-stack-1x  green-lumel"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="row name-row-left">
                <div class="col-sm-12 col-md-5 bg-lu order-md-last"></div>
                <!-- Colonnes secondaire, déplacée vers le bas sur les petits écrans -->
                <div class="col-sm-12 col-md-7 yellow-lumel-bg blue-lumel padding-name  presentation-lu order-md-first">
                    <!-- Colonnes principale, déplacée vers le haut sur les petits écrans -->
                    <h4 class="mb-4 montserrat-custom-bold lu-title">Lucile Quénet</h4>
                    <p>
                        Avocate au Barreau de Paris depuis mai 2019, Lucile Quénet exerce principalement en réparation
                        du
                        dommage
                        corporel et droit social au sein du cabinet Lumel Associées qu'elle a cofondé. Au cours de ses
                        expériences au sein de cabinets d'avocats et de la Cour d'appel de Paris, elle a acquis
                        compétences
                        et
                        rigueur dans la défense des particuliers et des entreprises, notamment devant les juridictions
                        civiles
                        et prud'homales. Elle s’attache à l’assistance des victimes de dommage corporel et a reçu le
                        Diplôme d’Université Réparation du dommage corporel de l’Université Paris 1 Panthéon Sorbonne en
                        2022.


                    </p>
                    <p>
                        Lucile Quénet accompagne sa clientèle en proposant une défense sur mesure privilégiant exigence,
                        confiance et écoute.
                    </p>
                    <p>
                        Lucile Quénet est titulaire d'un Master 1 Droit des affaires et d'un Master 2 - Droit des
                        contrats
                        d'affaires à l'université de Montpellier 1
                    </p>
                    <a href="https://www.linkedin.com/in/lucile-qu%C3%A9net-765341131/">
                        <span class="fa-stack fa-2x fa-stack-lu">
                            <i class="fas fa-square fa-stack-2x blue-lumel"></i>
                            <i class="fab fa-linkedin fa-stack-1x  yellow-lumel"></i>
                        </span>
                    </a>
                </div>
            </div>

        </div>
        <div class="bg-white">
            <div class="lumel-container blue-lumel">
                <div id="id_honoraires" class="row">
                    <div class="col-12">
                        <h4 class="mb-4">Honoraires</h4>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <p>Le premier rendez-vous avec l'une des avocates de Lumel Associées consiste à analyser et
                            déterminer
                            les
                            besoins juridiques du client. Il est facturé au taux horaire de 250 euros HT. À son issue,
                            les
                            tarifs
                            appliqués par le cabinet sont fixés selon les usages en fonction de la nature et de la
                            complexité du
                            dossier, de la situation de fortune du client, des frais exposés par l'avocat, du travail de
                            recherche
                            et des diligences accomplies par ce dernier. Le cabinet conclut par écrit avec son client
                            une
                            convention
                            d'honoraires précisant le
                            montant ou le mode de détermination de ces honoraires. Lumel Associées propose, selon
                            l'ensemble
                            de
                            ces
                            critères :</p>
                        <ul>
                            <li>Des honoraires au temps passé qui feront régulièrement l'objet d'une facture détaillée
                                justifiant les diligences accomplies
                            </li>
                            <li>Des honoraires forfaitaires fixés selon la nature du dossier et pouvant
                                s'accompagner d'un honoraire de résultat calculé sur les montants obtenus
                                ou économisés par le client par voie transactionnelle ou contentieuse
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <p>À titre indicatif, les honoraires forfaitaires appliqués par le cabinet, hors honoraires de
                            résultat, sont : </p>
                        <ul>
                            <li>Rédaction d’une lettre de mise en demeure : à partir de 600 euros HT (720 euros TTC)
                            </li>
                            <li>Rédaction d’un protocole transactionnel : à partir de 1500 euros HT (1800 euros TTC)
                            </li>
                            <li>Procédure de référé devant le Tribunal judiciaire, le Tribunal de commerce ou le Conseil
                                de prud’hommes : à partir de 2500 euros HT (3000 euros TTC)
                            </li>
                            <li>Procédure au fond devant le Tribunal judiciaire, le Tribunal de commerce ou le Conseil
                                de prud’hommes : à partir de 3500 euros HT (4200 euros TTC)
                            </li>
                            <li>Procédure d’appel : à partir de 4500 euros HT (5400 euros TTC)</li>
                            <li>Rédaction de contrats : à partir de 2000 euros HT (2400 euros TTC)</li>
                            <li>Consultations sur devis</li>
                        </ul>


                    </div>
                </div>
                <div id="id_contact" class="row justify-content-between pb-5">
                    <div class="col-12">
                        <h4>Contact</h4>
                    </div>
                    <div class="col-sm-12 col-md-3 pt-4 col-contact ">
                        <p>Pour toute demande de rendez-vous, nous vous remercions de bien vouloir remplir ce
                            formulaire.
                            Nous
                            vous recontacterons dans les meilleurs délais afin de vous confirmer la disponibilité du
                            créneau
                            choisi.
                        </p>
                        <div>
                            <h5>Adresse</h5>
                            <p>
                                26 rue Léopold Bellan<br>
                                75002 - Paris<br>
                                <a href="mailto:contact@lumel-associees.fr">contact@lumel-associees.fr</a>
                            </p>
                        </div>
                        <div>
                            <h5>Métro</h5>
                            <p>
                                Sentier (ligne 3)<br>
                                Étienne Marcel (ligne 4)<br>
                            </p>
                        </div>
                        <div>
                            <h5>Bus</h5>
                            <p>
                                Bus 20 / Bus 39
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">

                        {% include "formulaire.html" %}

                    </div>

                </div>
            </div>
        </div>
        <div id="id_podcast" class="blue-lumel-bg pt-5 pb-5">
            <div class="lumel-container yellow-lumel">
                <div class="row justify-content-center to-gap">
                    <div class="col-12 montserrat-custom-bold">
                        <h4 class="mb-5 mt-5">Ils parlent de nous :</h4>
                    </div>
                    <div class="col-12 col-md-3">
                        <a href="https://open.spotify.com/episode/5Glrr6qs1HCRoEvYbQaaCm?si=jB2FwCqxQZOxAcCgnAbFkw&nd=1&dlsi=e4ce8632cb784496"
                           class="text-decoration-none yellow-lumel">
                            <div class="p-5 bg-white zoom-effect-container rounded mb-2">
                                <img src="{% static 'lumel_app/img/podcast(2).jpeg' %}" class="img-fluid"
                                     alt="Logo">
                            </div>
                            <div class="d-flex align-items-start">
                                <img src="{% static 'lumel_app/img/reshot-icon-arrow-down-right-FZVECGQ5BR.svg' %}"
                                     class="img-fluid ms-1 me-2" alt="Logo">
                                <div>
                                    <p class="montserrat-custom-bold">Tout savoir sur le bail commercial</p>
                                    <p> Parole d’Expert, cet épisode va vous aider à
                                        y voir plus clair et à éviter les pièges. Il s’articule autour de trois
                                        grandes
                                        parties :
                                    </p>
                                </div>

                            </div>
                            <div>
                                <ul>
                                    <li>Point lexical (pas de porte, droit d'entrée, droit au bail, fonds de
                                        commerce, bail 3/6/9)
                                    </li>
                                    <li>Points de vigilance dans le bail (objet, loyer, état des lieux, travaux,
                                        dépôt de garantie, cession et sous-location)
                                    </li>
                                    <li>Fin de bail</li>
                                </ul>
                            </div>
                        </a>

                    </div>

                    <div class="col-12 col-md-3 mt-5">
                        <a href="https://open.spotify.com/episode/1Jt1KV5K2qSaAEL2P25cxN"
                           class="text-decoration-none yellow-lumel">
                            <div class="p-5 bg-white zoom-effect-container rounded mb-2">
                                <img src="{% static 'lumel_app/img/podcast(2).jpeg' %}" class="img-fluid"
                                     alt="Logo">
                            </div>
                            <div class="d-flex align-items-start">
                                <img src="{% static 'lumel_app/img/reshot-icon-arrow-down-right-FZVECGQ5BR.svg' %}"
                                     class="img-fluid ms-1 me-2" alt="Logo">
                                <div>
                                    <p class="montserrat-custom-bold">Gérer vos RH</p>
                                    <p> Parole d'Expert, un épisode pour explorer les différentes
                                        phases du contrat de travail et d'un recrutement réussi. Cet épisode
                                        s’articule
                                        autour de quatre grandes parties : </p>
                                </div>


                            </div>
                            <div>
                                <ul>
                                    <li>Les étapes essentielles quand on veut recruter</li>
                                    <li>Le contrat de travail</li>
                                    <li>La vie quotidienne et l'évolution du contrat de travail (arrêts maladie,
                                        absences, accident du travail)
                                    </li>
                                    <li>Les différents scenarii de rupture du contrat</li>
                                </ul>
                            </div>
                        </a>

                    </div>


                </div>
            </div>
        </div>

    </div>



{% endblock %}

{% block js %}

    <script>


        // Sélectionne tous les boutons pour l'effet de flip
        document.querySelectorAll('.btn-flip').forEach(button => {
            button.addEventListener('click', () => {
                const card = button.closest('.card');
                card.classList.toggle('flipped');  // Ajoute ou retire la classe flipped pour basculer
            });
        });

    </script>


{% endblock %}


