{% load static %}
<div class="container-fluid blue-lumel-bg d-flex align-items-center yellow-lumel">

    <!-- Bloc de contact avec marge à droite -->
    <div class="contact-info d-none d-md-flex align-items-center ms-auto me-5">
        <a href="https://maps.google.com/?q=26+rue+L%C3%A9opold+Bellan+75002+Paris" target="_blank"
           class="text-decoration-none yellow-lumel">
            <p class="pt-3">26 rue Léopold Bellan 75002 </p>
        </a>
        <svg width="50" height="50"> <!-- Taille du SVG -->
            <line x1="10" y1="50" x2="30" y2="1" stroke="#F6EFA0" stroke-width="2"/>
        </svg>
        <a href="tel:+33954953754" target="_blank"
           class="text-decoration-none yellow-lumel me-1">09.54.95.37.54</a>  (9h00 – 19h00) 
    </div>
</div>

<header class="navbar navbar-expand-md navbar-light blue-lumel yellow-lumel-bg">
    <div class="container-fluid">
        <div class="d-flex align-items-center nav-div">
            <a class="me-sm-auto logo-top d-flex align-items-center" href="/">
                <!-- Affichage conditionnel de l'image du logo selon la taille de l'écran -->
                <img src="{% static 'lumel_app/img/logo-bleu.png' %}" alt="Logo" width="200" class="desktop-logo">
                <img src="{% static 'lumel_app/img/logo-jaune.png' %}" alt="Logo" width="100"
                     class="mobile-logo d-none">

            </a>
            <span class="font-bold d-none d-sm-block link">Cabinet Avocates à PARIS 2</span>

            <!-- Bouton hamburger pour mobile -->
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>


        <!-- Contenu de la navbar -->
        <nav class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lumel_app:main' %}#id_commercial">Droit Commercial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lumel_app:main' %}#id_corporel">Dommage corporel</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Autres expertises
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'lumel_app:main' %}#id_social">Droit social</a></li>
                        <li><a class="dropdown-item" href="{% url 'lumel_app:main' %}#id_immobilier">Droit immobilier</a></li>
                        <li><a class="dropdown-item" href="{% url 'lumel_app:main' %}#id_patrimonial">Droit
                            patrimonial</a></li>
                        <!-- Ajoute d'autres expertises ici -->
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="btn btn-navbar text-white font-semibold nav-btn"
                       href="{% url 'lumel_app:main' %}#id_contact" role="button">
                        Contact
                    </a>
                </li>


            </ul>
        </nav>
    </div>
</header>
