@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.montserrat-custom {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.montserrat-custom-light {
    font-weight: 380;
}

.montserrat-custom-bold {
    font-weight: 770;
}

/* Utilisation de la police Montserrat dans votre document */
body {
    font-family: 'Montserrat', sans-serif; /* Utilisation de Montserrat avec fallback sans-serif */
    overflow-x: hidden;
}

.yellow-lumel-bg {
    background-color: #F6EFA0;
}

.yellow-lumel {
    color: #F6EFA0;
}

.blue-lumel-bg {
    background-color: #292E5E;
}

.blue-lumel {
    color: #292E5E;
}

.green-lumel-bg {
    background-color: #AAD4AD;
}

.green-lumel {
    color: #AAD4AD;
}

.dark-bg {
    background-color: #041B25;
}

.orange-lumel-bg {
    background-color: #ED694A;
}

.orange-lumel {
    color: #ED694A;
}

.pourpre-lumel-bg {
    background-color: #9D2766;
}

.pourpre-lumel {
    color: #9D2766;
}

.lumel-container {
    width: 92%; /* Largeur de 90% */
    max-width: fit-content; /* Largeur maximale de 800 pixels */
    margin-right: auto; /* Marge à droite automatique */
    margin-left: auto; /* Marge à gauche automatique */
    padding-right: 15px; /* Remplissage à droite de 15 pixels */
    padding-left: 15px; /* Remplissage à gauche de 15 pixels */
}


#accueil {
    padding-bottom: 6rem;
}

.citation {
    font-size: 3.7rem;
    line-height: 1;
    margin-top: 8rem;
}

.signature {
    font-size: 1.3rem;
}

.text-presentation-section p {
    font-size: 1.4rem;
}

.text-presentation-section {
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.expertises-section {
    padding-bottom: 3rem;
    padding-top: 6rem;
}

.tns-outer {
    position: relative;
}

[data-controls] {
    display: none;
}


.tns-nav {
    text-align: center;
    margin-top: 1rem;
}

.tns-nav > [aria-controls] {
    width: 9px;
    height: 9px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background: #ddd;
    border: 0;
}

.tns-nav .tns-nav-active {
    background-color: #292E5E;
    border-color: #292E5E;
}

.my-slider h4 {
    font-size: 2rem;
    font-weight: 750;
    margin-bottom: 2rem;
}


#id_expertises p, #id_expertises li, .text-presentation-section {
    font-size: 1.1rem;
    text-align: left;
    text-wrap: balance;
}

.bg-mar {
    background-image: url('/static/lumel_app/img/PORTRAIT_PRO_MARIANNE.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 22rem;
}

.bg-lu {
    background-image: url('/static/lumel_app/img/PORTRAIT_PRO_LUCILE.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 22rem;

}


/* Structure de base */
.card-container {
    width: 100%;
    height: 100%;
    perspective: 1000px;
    margin: 20px auto;
    min-width: 300px;
    min-height: 500px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

/* Styles pour les faces de la carte */
.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.card-front {
    background-color: #ffffff;
}

.card-back {
    background-color: #f0f0f0;
    transform: rotateY(180deg);
}

/* Style pour le bouton */
.btn-flip {
    margin-top: 15px;
    padding: 8px 16px;
    background-color: #292E5E;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

/* Classe qui permet de basculer la carte */
.card.flipped {
    transform: rotateY(180deg);
}




.vertical-line {
    border-left: 2px solid #F6EFA0; /* épaisseur et couleur de la ligne */
    height: 100px; /* hauteur de la ligne */
    margin: 0 10px; /* espacement autour de la ligne */
}

#id_equipe p {
    font-size: 0.9rem;
}

#id_equipe .col-md-5 {
    margin: 0;
    padding: 0;
}

#id_equipe .col-md-5 img {
    opacity: 0;
    transition: opacity 1s ease;
}

[data-loaded="true"]  {
    opacity: 1 !important;
}

#id_equipe h4 {
    font-size: 1.7rem;
}


#id_equipe {
    padding-bottom: 4.5rem;
}

#id_actualites hr, #id_article {
    margin-bottom: 0;
    padding-bottom: 1rem;
}

#id_actualites a, #id_actualites p {
    color: #292E5E;
}

.presentation-lu {
    padding: 2rem 1rem 2rem 2rem;
    text-align: left;
}

.presentation-mar {
    padding: 2rem 1rem 2rem 2rem;
    text-align: left;
}

#id_honoraires h4, #id_podcast h4 {
    font-size: 2.4rem;
    font-weight: 740;
}

#id_honoraires p, #id_honoraires li {
    font-size: 1.2rem;
    font-weight: 380;
    text-align: justify;
}

#id_honoraires {
    padding-bottom: 5.5rem;
}


#id_contact h4 {
    font-size: 2.4rem;
    font-weight: 740;
}

#id_contact {
    text-align: justify;
}

.col-contact {
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.col-contact h5 {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 0.1rem;
}

.form-control {
    border: none;
    border-bottom: 1px solid #292E5E; /* Bordure inférieure */
    border-radius: 0; /* Pas de coins arrondis */
    box-shadow: none; /* Pas d'ombre */
    padding-top: 2.5rem; /* Ajustement de l'espace au-dessus du texte */
    padding-left: 0px;
}


.btn-custom {
    background-color: white;
    color: #292E5E;
    border: 1px solid #292E5E;
    border-radius: 25px;
    padding-right: 3rem;
    padding-left: 3rem;
    font-size: 0.9em;
    font-weight: 350;
}

#id_message::placeholder {
    color: #292E5E;
    line-height: 10rem;
    font-size: 1.3rem;
    font-weight: 350;

}

#id_nom::placeholder {
    color: #292E5E;
    font-size: 1.3rem;
    font-weight: 350;
}

#id_telephone::placeholder {
    color: #292E5E;
    font-size: 1.3rem;
    font-weight: 350;
}

#id_email::placeholder {
    color: #292E5E;
    font-size: 1.3rem;
    font-weight: 350;
}

#id_date::placeholder {
    color: #292E5E;
    font-size: 1.3rem;
    font-weight: 350;
}

#id_heure::placeholder {
    color: #292E5E;
    font-size: 1.3rem;
    font-weight: 350;
}

#id_expertise::placeholder {
    color: #292E5E;
    font-size: 1.3rem;
    font-weight: 350;
}

.footer-link {
    text-decoration: none;
    color: #F6EFA0;
}


.footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.fa-stack-mar, .fa-stack-lu {
    margin-left: -0.5rem;
}

.btn-custom:hover {
    color: #333; /* Garder la couleur de texte initiale */
    background-color: white; /* Garder le fond blanc */
    border-color: #ccc; /* Garder la bordure */
}


.btn-navbar {
        background-color: #292E5E; /* Couleur de fond personnalisée */
        color: white; /* Couleur du texte */
        border: none; /* Sans bordure */
    }

/* Empêcher les changements au survol */
.btn-navbar:hover {
    background-color: #292E5E; /* Garde la couleur d'origine au survol */
    color: white; /* Garde la couleur du texte */
}

.btn-custom-1 {
    background-color: black; /* Fond noir */
    color: white; /* Texte blanc */
    border: 2px solid #F6EFA0; /* Bordure verte */
    border-radius: 20px; /* Arrondi du bouton */
}

.btn-custom-2 {
    background-color: #F6EFA0; /* Fond vert */
    color: black; /* Texte noir */
    border: none; /* Pas de bordure */
    border-radius: 20px; /* Arrondi du bouton */
}

.navbar-toggler {
    background-color: #F6EFA0 ;
}

@media (max-width: 575.98px) {
    .custom-padding-bottom {
        padding-bottom: 5.8rem !important; /* Ajuste la valeur selon tes besoins */
    }

    .citation {
        margin-top: 4rem;
    }


    .navbar {
        background-color: #292E5E !important;
    }

    .nav-div {
        width: 100%;
    }

    .nav-link {
        color: #F6EFA0;
    }

    .nav-btn {
        background-color: #F6EFA0;
        color: #292E5E !important;
        margin-top: 10px;
    }

    .nav-btn:hover {
        background-color: #F6EFA0;
        color: #292E5E !important;
        margin-top: 10px;
    }

    /* Afficher le logo jaune et masquer le logo bleu */
    .desktop-logo {
        display: none;
    }
    .mobile-logo {
        display: block !important;
    }

    /* Masquer le texte de la balise <p> sur mobile */
    .navbar p {
        display: none;
    }
}

/* Pour les écrans de taille moyenne et plus grands */
@media (min-width: 768px) {


}

/* Pour les écrans de grande taille */
@media (min-width: 992px) {

    a {
        transition: opacity 0.3s; 
    }

    a:hover {
        opacity: 0.7;
    }

    .lumel-container {
        width: 81%; /* Largeur de 90% */
        max-width: fit-content; /* Largeur maximale de 800 pixels */
        margin-right: auto; /* Marge à droite automatique */
        margin-left: auto; /* Marge à gauche automatique */
        padding-right: 15px; /* Remplissage à droite de 15 pixels */
        padding-left: 15px; /* Remplissage à gauche de 15 pixels */
    }

    .container-accueil {
        margin-right: 8em;
    }

    #accueil {
        min-height: 80vh;
    }

    .text-presentation-section p {
        font-size: 1.4rem;
    }

    [data-controls] {
        display: block;
        border: 0;
        padding: 0;
        font-size: 30px;
        position: absolute;
        top: 50%;
        margin-top: -18px;
        z-index: 1;
        background: transparent;
    }

    [data-controls="prev"] {
        left: -3em;
    }

    [data-controls="next"] {
        right: -3em;
    }


    .nav-item {
        margin-right: 2.4rem;
    }

    .nav-link {
        color: #292E5E;
        font-size: 1em;
    }


    .navbar-nav .nav-link.active {
        color: #292E5E;
        font-size: 1em;
        font-weight: bold;
    }

    .padding-lumel {
        padding-left: 5.5rem;
        padding-right: 5.5rem;
    }

    .padding-name {
        padding-top: 5rem;
        padding-bottom: 5rem;
        padding-left: 6rem;
        padding-right: 8rem;
    }

    .name-row-right {
        padding-right: 13rem;
        min-height: 40rem;
    }

    .name-row-left {
        padding-left: 13rem;
        min-height: 40rem;
    }

    .margin-left-exp {
        margin-left: 0.10rem;
    }

    #id_equipe p {
        font-size: 1.1rem;
    }

    #id_equipe h4 {
        font-size: 2.4rem;
    }

    .mt-custom {
        margin-top: 5rem;
    }

    .citation {
        font-size: 6.5rem;
        line-height: 1;
        margin-top: 5rem;
    }

    .presentation-lu {
        text-align: right;
    }


    .btn-custom {
        font-size: 1.3em;
    }


    .lu-title {
        text-align: right;
    }

    .mar-title {
        text-align: left;
    }


    .my-slider h4 {
        font-size: 2.4rem;
        font-weight: 740;
        margin-bottom: 2rem;
    }

    .my-slider p {
        font-size: 1.2rem;
        font-weight: 380;
    }

    .my-slider ul {
        font-size: 0.9rem;
        font-weight: 380;
    }


    .fa-stack-lu {
        margin-right: -0.5rem;
        margin-left: 0;
    }


}

#id_podcast {
    text-align: justify;
}


.zoom-effect-container {
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.zoom-effect-container img {
    transition: transform 0.5s ease;
}

.zoom-effect-container:hover img {
    transform: scale(1.2);
}

.to-gap {
    gap: 0em 10em;
}

/* Axel modifications */

html {
    overflow: auto;
}

#legals {
    display: flex;
    justify-content: center;
}

.legals__content {
    max-width: 50%;
}