@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat-custom {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.montserrat-custom-light {
    font-weight: 380;
}

.montserrat-custom-bold {
    font-weight: 770;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Utilisation de la police Montserrat dans votre document */
body {
    font-family: 'Montserrat', sans-serif; /* Utilisation de Montserrat avec fallback sans-serif */
    overflow-x: hidden;
    color: var(--color-blue);
}

.yellow-lumel-bg {
    background-color: var(--color-yellow);
}

.yellow-lumel {
    color: var(--color-yellow) !important;
}

.blue-lumel-bg {
    background-color: var(--color-blue);
}

.blue-lumel {
    color: var(--color-blue) !important;
}

.green-lumel-bg {
    background-color: #AAD4AD;
}

.green-lumel {
    color: #AAD4AD;
}

.dark-bg {
    background-color: #041B25;
}

.orange-lumel-bg {
    background-color: #ED694A;
}

.orange-lumel {
    color: #ED694A;
}

.pourpre-lumel-bg {
    background-color: #9D2766;
}

.pourpre-lumel {
    color: #9D2766;
}

.lumel-container {
    width: 92%; /* Largeur de 90% */
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content; /* Largeur maximale de 800 pixels */
    margin-right: auto; /* Marge à droite automatique */
    margin-left: auto; /* Marge à gauche automatique */
    padding-right: 15px; /* Remplissage à droite de 15 pixels */
    padding-left: 15px; /* Remplissage à gauche de 15 pixels */
}

nav ul {
    list-style: none !important;
}

#accueil {
    overflow: hidden;
    padding: 16px;
    padding-bottom: 6rem;
    min-height: var(--h-screen);
    display: flex;
    align-items: center;
}

.citation {
    font-size: var(--fs-xxl);
    line-height: 1;
}

.signature {
    font-size: var(--fs-base);
}

.text-presentation-section h2 {
    font-size: var(--fs-title);
    max-width: 100%;
}

.text-presentation-section p {
    font-size: var(--fs-base);
}

.text-presentation-section {
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.expertises-section {
    padding-bottom: 3rem;
    padding-top: 6rem;
}

.tns-outer {
    position: relative;
}

[data-controls] {
    display: none;
}


.tns-nav {
    text-align: center;
    margin-top: 1rem;
}

.tns-nav > [aria-controls] {
    width: 9px;
    height: 9px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background: #ddd;
    border: 0;
}

.tns-nav .tns-nav-active {
    background-color: #292E5E;
    border-color: #292E5E;
}

.my-slider h4 {
    font-size: 2rem;
    font-weight: 750;
    margin-bottom: 2rem;
}

#id_expertises p {
    color: var(--color-blue);
    font-size: var(--fs-base);
    text-align: center;
    line-height: 1.2;
    display: -webkit-box;
    width: 100%;
    overflow: hidden;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;

}

#id_expertises li, .text-presentation-section {
    font-size: var(--fs-s);
    text-align: left;
    text-wrap: balance;
    color: var(--color-blue);
}

.bg-mar {
    background-image: url('/static/lumel_app/img/PORTRAIT_PRO_MARIANNE.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 22rem;
}

.bg-lu {
    background-image: url('/static/lumel_app/img/PORTRAIT_PRO_LUCILE.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 22rem;

}


/* Structure de base */
.card-container {
    width: 100%;
    height: 100%;
    perspective: 1000px;
    padding: 20px;
    min-width: 300px;
    min-height: calc(var(--vh) * 66);
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    justify-content: space-between;
}

.card-title {
    color: var(--color-blue);
    font-size: var(--fs-lg);
}



/* Styles pour les faces de la carte */
.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.card-front {
    background-color: #ffffff;
}

.card-back {
    background-color: #f0f0f0;
    transform: rotateY(180deg);
}

/* Style pour le bouton */

.btn-light {
    background-color: transparent !important;
    border: 1px solid var(--color-blue) !important;
    color: var(--color-blue) !important;
    transition: all 0.3s;
}

.btn-light:hover {
    background-color: var(--color-blue) !important;
    color: white !important;
    opacity: 1;
}

.btn-flip {
    margin-top: 15px;
    padding: 8px 16px;
    background-color: #292E5E;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

/* Classe qui permet de basculer la carte */
.card.flipped {
    transform: rotateY(180deg);
}




.vertical-line {
    border-left: 2px solid #F6EFA0; /* épaisseur et couleur de la ligne */
    height: 100px; /* hauteur de la ligne */
    margin: 0 10px; /* espacement autour de la ligne */
}

#id_equipe p {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: 400;
}

#id_equipe .col-md-5 {
    margin: 0;
    padding: 0;
}

#id_equipe .col-md-5 img {
    opacity: 0;
    transition: opacity 1s ease;
}

#id_equipe img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

[data-loaded="true"]  {
    opacity: 1 !important;
}

#id_equipe h4 {
    font-size: var(--fs-lg);
}


#id_equipe {
    padding-bottom: 4.5rem;
}

#id_actualites hr, #id_article {
    margin-bottom: 0;
    padding-bottom: 1rem;
}

#id_actualites a, #id_actualites p {
    color: #292E5E;
}

.presentation-lu {
    padding: 2rem 1rem 2rem 2rem;
    text-align: left;
}

.presentation-mar {
    padding: 2rem 1rem 2rem 2rem;
    text-align: left;
}

.presentation-mar div, .presentation-lu div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



#id_honoraires h4, #id_podcast h4 {
    font-size: 2.4rem;
    font-weight: 740;
}

#id_honoraires p, #id_honoraires li {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: left;
}

#id_honoraires .font-bold {
    font-weight: 700 !important;
    margin-bottom: 1rem;
}

#id_honoraires {
    padding-bottom: 5.5rem;
}


#id_contact h4 {
    font-size: 2.4rem;
    font-weight: 740;
}

.col-contact {
    margin-top: 1.5rem;
    font-size: var(--fs-base);
    margin-bottom: 2rem;
}

.col-contact p {
    line-height: 1.2;
    margin-bottom: 1rem;
}

.col-contact h5 {
    font-size: var(--fs-base);
    font-weight: bold;
}

.form-control {
    border: none;
    border-bottom: 2px solid #292E5E; /* Bordure inférieure */
    border-radius: 0; /* Pas de coins arrondis */
    box-shadow: none; /* Pas d'ombre */
    padding-top: 2.5rem; /* Ajustement de l'espace au-dessus du texte */
    padding-left: 0px;
}

.form-control::-webkit-input-placeholder {
    font-size: var(--fs-lg);
    font-weight: 600;
}

.form-control::-moz-placeholder {
    font-size: var(--fs-lg);
    font-weight: 600;
}

.form-control:-ms-input-placeholder {
    font-size: var(--fs-lg);
    font-weight: 600;
}

.form-control::-ms-input-placeholder {
    font-size: var(--fs-lg);
    font-weight: 600;
}

.form-control::placeholder {
    font-size: var(--fs-lg);
    font-weight: 600;
}


.btn-custom {
        margin-top: 15px;
        padding: 8px 16px;
        background-color: transparent;
        color: var(--color-blue);
        border: 2px solid var(--color-blue);
        cursor: pointer;
        border-radius: 4px;
        position: relative;
}
.btn-custom .svg__container {
    width: 100%;
    position: relative;
    height: 32px;
}

.btn-custom .svg__container svg {
    position: absolute;
    bottom: 0;
    right: 16px; /* Adjust this value to position the SVG correctly */
    transform: translateX(0);
    transition: transform 0.3s ease;
}

.btn-custom:hover .svg__container svg {
    transform: translateX(100%);
}

#id_message::-webkit-input-placeholder {
    color: #292E5E;
    line-height: 10rem;
    font-size: var(--fs-base);
    font-weight: 350;

}

#id_message::-moz-placeholder {
    color: #292E5E;
    line-height: 10rem;
    font-size: var(--fs-base);
    font-weight: 350;

}

#id_message:-ms-input-placeholder {
    color: #292E5E;
    line-height: 10rem;
    font-size: var(--fs-base);
    font-weight: 350;

}

#id_message::-ms-input-placeholder {
    color: #292E5E;
    line-height: 10rem;
    font-size: var(--fs-base);
    font-weight: 350;

}

#id_message::placeholder {
    color: #292E5E;
    line-height: 10rem;
    font-size: var(--fs-base);
    font-weight: 350;

}

#id_nom::-webkit-input-placeholder {
    color: #292E5E;
    font-size: var(--fs-base);
    font-weight: 350;
}

#id_nom::-moz-placeholder {
    color: #292E5E;
    font-size: var(--fs-base);
    font-weight: 350;
}

#id_nom:-ms-input-placeholder {
    color: #292E5E;
    font-size: var(--fs-base);
    font-weight: 350;
}

#id_nom::-ms-input-placeholder {
    color: #292E5E;
    font-size: var(--fs-base);
    font-weight: 350;
}

#id_nom::placeholder {
    color: #292E5E;
    font-size: var(--fs-base);
    font-weight: 350;
}

#id_telephone::-webkit-input-placeholder {
    color: #292E5E;
    font-size: var(--fs-base);
    font-weight: 350;
}

#id_telephone::-moz-placeholder {
    color: #292E5E;
    font-size: var(--fs-base);
    font-weight: 350;
}

#id_telephone:-ms-input-placeholder {
    color: #292E5E;
    font-size: var(--fs-base);
    font-weight: 350;
}

#id_telephone::-ms-input-placeholder {
    color: #292E5E;
    font-size: var(--fs-base);
    font-weight: 350;
}

#id_telephone::placeholder {
    color: #292E5E;
    font-size: var(--fs-base);
    font-weight: 350;
}

#id_email::-webkit-input-placeholder {
    color: #292E5E;
    font-size: var(--fs-base);
    font-weight: 350;
}

#id_email::-moz-placeholder {
    color: #292E5E;
    font-size: var(--fs-base);
    font-weight: 350;
}

#id_email:-ms-input-placeholder {
    color: #292E5E;
    font-size: var(--fs-base);
    font-weight: 350;
}

#id_email::-ms-input-placeholder {
    color: #292E5E;
    font-size: var(--fs-base);
    font-weight: 350;
}

#id_email::placeholder {
    color: #292E5E;
    font-size: var(--fs-base);
    font-weight: 350;
}

#id_date::-webkit-input-placeholder {
    color: #292E5E;
    font-size: var(--fs-base);
    font-weight: 350;
}

#id_date::-moz-placeholder {
    color: #292E5E;
    font-size: var(--fs-base);
    font-weight: 350;
}

#id_date:-ms-input-placeholder {
    color: #292E5E;
    font-size: var(--fs-base);
    font-weight: 350;
}

#id_date::-ms-input-placeholder {
    color: #292E5E;
    font-size: var(--fs-base);
    font-weight: 350;
}

#id_date::placeholder {
    color: #292E5E;
    font-size: var(--fs-base);
    font-weight: 350;
}

#id_heure::-webkit-input-placeholder {
    color: #292E5E;
    font-size: var(--fs-base);
    font-weight: 350;
}

#id_heure::-moz-placeholder {
    color: #292E5E;
    font-size: var(--fs-base);
    font-weight: 350;
}

#id_heure:-ms-input-placeholder {
    color: #292E5E;
    font-size: var(--fs-base);
    font-weight: 350;
}

#id_heure::-ms-input-placeholder {
    color: #292E5E;
    font-size: var(--fs-base);
    font-weight: 350;
}

#id_heure::placeholder {
    color: #292E5E;
    font-size: var(--fs-base);
    font-weight: 350;
}

#id_expertise::-webkit-input-placeholder {
    color: #292E5E;
    font-size: var(--fs-base);
    font-weight: 350;
}

#id_expertise::-moz-placeholder {
    color: #292E5E;
    font-size: var(--fs-base);
    font-weight: 350;
}

#id_expertise:-ms-input-placeholder {
    color: #292E5E;
    font-size: var(--fs-base);
    font-weight: 350;
}

#id_expertise::-ms-input-placeholder {
    color: #292E5E;
    font-size: var(--fs-base);
    font-weight: 350;
}

#id_expertise::placeholder {
    color: #292E5E;
    font-size: var(--fs-base);
    font-weight: 350;
}

.footer-link {
    text-decoration: none;
    color: #F6EFA0;
}


.footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: .75rem;
}

.footer-list li {
    font-weight: 400;
}

.footer-list li:first-child {
    font-weight: 800 !important;
}

.fa-stack-mar, .fa-stack-lu {
    margin-left: -0.5rem;
}

.btn-custom:hover {
    color: #333; /* Garder la couleur de texte initiale */
    background-color: white; /* Garder le fond blanc */
    border-color: #ccc; /* Garder la bordure */
}


.btn-navbar {
        background-color: #292E5E; /* Couleur de fond personnalisée */
        color: white; /* Couleur du texte */
        border: none; /* Sans bordure */
    }

/* Empêcher les changements au survol */
.btn-navbar:hover {
    background-color: #292E5E; /* Garde la couleur d'origine au survol */
    color: white; /* Garde la couleur du texte */
}

.btn-custom-1 {
    background-color: black; /* Fond noir */
    color: white; /* Texte blanc */
    border: 2px solid #F6EFA0; /* Bordure verte */
    border-radius: 20px; /* Arrondi du bouton */
}

.btn-custom-2 {
    background-color: #F6EFA0; /* Fond vert */
    color: black; /* Texte noir */
    border: none; /* Pas de bordure */
    border-radius: 20px; /* Arrondi du bouton */
}

.btn-custom-1, .btn-custom-2 {
    display: flex;
    align-items: center;
}

.navbar-toggler {
    background-color: #F6EFA0 ;
}

.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
}

.desktop-logo {
    width: 180px;
}

.nav-link:focus, .nav-link:hover {
    color: #ED694A;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="%23292e5e"><path d="M3 5H21" stroke="%23292e5e" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 12H21" stroke="%23292e5e" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 19H21" stroke="%23292e5e" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>') !important;
}

[aria-expanded="true"] .navbar-toggler-icon {
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="%23292e5e"><path d="M6 12H18" stroke="%23292e5e" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>') !important;
}

@media (max-width: 768px) {

    .presentation-mar div a, .presentation-lu div a {
        align-self: center;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
    }

    .custom-padding-bottom {
        padding-bottom: 5.8rem !important; /* Ajuste la valeur selon tes besoins */
    }


    .navbar {
        background-color: var(--color-blue) !important;
    }

    .nav-div {
        width: 100%;
    }

    .nav-link {
        color: #F6EFA0;
        font-weight: 500;
    }

    .nav-btn {
        background-color: #F6EFA0;
        color: var(--color-blue) !important;
        margin-top: 10px;
    }

    .nav-btn:hover {
        background-color: #F6EFA0;
        color: var(--color-blue) !important;
        margin-top: 10px;
    }

    /* Afficher le logo jaune et masquer le logo bleu */
    .desktop-logo {
        display: none;
    }
    .mobile-logo {
        display: block !important;
    }

    /* Masquer le texte de la balise <p> sur mobile */
    .navbar p {
        display: none;
    }
}

.ampoule__container {
    display: none;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 10vw;
    width: 100%;
    pointer-events: none;
    z-index: 0;
}

.ampoule {
    width: 24%;
    max-width: 300px;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
}




#id_podcast {
    text-align: left;
}

#id_podcast a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#id_podcast h3 {
    font-size: var(--fs-base);
}



.zoom-effect-container {
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 100%;
}

.zoom-effect-container img {
    transition: transform 0.5s ease;
}

.zoom-effect-container:hover img {
    transform: scale(1.2);
}

.to-gap {
    gap: 0em 10em;
}

/* Axel modifications */

html {
    overflow: auto;
}

p {
    letter-spacing: 0.02em;
}

h1,h2,h3,h4,h5,h6 {
    letter-spacing: -0.02em;
}

#legals {
    display: flex;
    justify-content: center;
}

.legals__content {
    max-width: 50%;
    color: #292E5E;
}

p, span, h1, h2, h3, h4, h5, h6, button, a, li, label, input, textarea {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-wrap: balance;
}
/* 
.show {
    visibility: visible !important;
} */

menu, ol, ul {
    list-style: disc !important;
}

.footer ul, footer ul li {
    list-style: none !important;
}

/* MENU */

.menu__subtitle {
    font-size: var(--fs-base);
    font-weight: 800 !important;
}

.mobile__bottom__contact {
    background: rgba(41, 46, 94, 0.33);
    backdrop-filter: blur(6px);
}

.two-cols {
    display: grid;
}



.two__cols {
    display: grid;
    gap: 1rem;
}


#marker-cabinet {
    width: 48px;
    margin-bottom: .5rem;
}


.cabinet__title {
    font-size: var(--fs-title);
    color: var(--color-yellow);
    font-weight: 700;
    max-width: 75%;
}

.cabinet__pin {
    display: none;
}

.text-yellow {
    color: var(--color-yellow);
}

.scroll__offset {
    scroll-margin-top: 36px;
}

.cabinet__box__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.cabinet__box {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 80%;
    color: var(--color-blue);
    justify-content: flex-start !important;
    height: auto;
}

.cabinet__box:nth-child(2) {
    align-self: flex-end;
}

.cabinet__box h4 {
    font-size: var(--fs-lg);
    font-weight: 600;
}

#id_cabinet img {
    object-position: 0 30%;
    height: calc(var(--vh) * 66);
    clip-path: polygon(0 22%, 91% 0, 100% 100%, 0% 100%);

}



header {
    background-color: var(--color-blue);
    transition: background-color 0.3s;
    padding: 2rem;
}

.dropdown-menu {
    border: none !important;
    background-color: var(--color-yellow);
    color: var(--color-blue) !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: transparent !important;
}


.header__title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--color-yellow);
}






/* TAILWIND */

.grid {
    display: grid;
}

.grid-cols-2 {
    
}

.w-full {
    width: 100%;
}

.object-cover {
    object-fit: cover;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.items-end {
    align-items: flex-end;
}

ul {
    padding: 0;
}

.pl-8 {
    padding-left: 2rem;
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.pt-5 {
    padding-top: 1.25rem;
}

.gap-4 {
    gap: 1rem;
}

.gap-8 {
    gap: 2rem;
}

.gap-12 {
    gap: 3rem;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.font-s {
    font-size: var(--fs-s);
}

.text-white {
    color: white;
}

/* Pour les écrans de taille moyenne et plus grands */
@media (min-width: 768px) {

    [class~="lg:grid-cols-2"] {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }


    .navbar-expand-md .navbar-nav {
        align-items: center;
    }

    #id_expertises p {
        display: block;
    }

    .card-container {
        min-height: calc(var(--vh) * 70);
    }

    .cabinet__pin {
        display: flex;
        flex-direction: column;
    }

    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
        color: var(--color-blue);
    }
    

    header nav {
        position: initial;
        height: auto;
        background-color: transparent;
    }

    header nav ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    header {
        background-color: var(--color-yellow);
    }

    .cabinet__box__container {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        width: 80%;
    }

    .cabinet__box {
        width: 100%;
        height: 100%;
    }

    .two__cols {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .text-presentation-section h2 {
        max-width: 66%;
    }

    .ampoule__container {
        display: flex;
    }

    #accueil {
        display: grid;
        grid-template-columns: 1fr;
        padding: 64px;
        align-items: flex-start;
    }



}

/* Pour les écrans de grande taille */
@media (min-width: 992px) {

    a {
        transition: opacity 0.3s; 
    }

    a:hover {
        opacity: 0.7;
    }

    .lumel-container {
        width: 81%; /* Largeur de 90% */
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content; /* Largeur maximale de 800 pixels */
        margin-right: auto; /* Marge à droite automatique */
        margin-left: auto; /* Marge à gauche automatique */
        padding-right: 15px; /* Remplissage à droite de 15 pixels */
        padding-left: 15px; /* Remplissage à gauche de 15 pixels */
    }



    #accueil {
        min-height: var(calc(--vh) * 80);
    }

    .text-presentation-section p {
        font-size: 1.4rem;
    }

    [data-controls] {
        display: block;
        border: 0;
        padding: 0;
        font-size: 30px;
        position: absolute;
        top: 50%;
        margin-top: -18px;
        z-index: 1;
        background: transparent;
    }

    [data-controls="prev"] {
        left: -3em;
    }

    [data-controls="next"] {
        right: -3em;
    }


    .nav-item {
        margin-right: var(--fs-title);
    }

    .nav-link {
        color: #292E5E;
        font-size: var(--fs-s);
        padding: 0 !important;
    }


    .navbar-nav .nav-link.active {
        color: #292E5E;
        font-size: 1em;
        font-weight: bold;
    }

    .padding-lumel {
        padding-left: 5.5rem;
        padding-right: 5.5rem;
    }

    .padding-name {
        padding-top: 5rem;
        padding-bottom: 5rem;
        padding-left: 6rem;
        padding-right: 8rem;
    }

    .name-row-right {
        padding-right: 13rem;
        min-height: 40rem;
    }

    .name-row-left {
        padding-left: 13rem;
        min-height: 40rem;
    }

    .margin-left-exp {
        margin-left: 0.10rem;
    }

    #id_equipe p {
        font-size: var(--fs-base);
        max-width: 60ch;
    }

    #id_equipe h4 {
        font-size: var(--fs-title);
    }

    .mt-custom {
        margin-top: 5rem;
    }


    .presentation-lu {
        text-align: right;
    }


    .btn-custom {
        font-size: var(--fs-base);
    }


    .lu-title {
        text-align: right;
    }

    .mar-title {
        text-align: left;
    }


    .my-slider h4 {
        font-size: 2.4rem;
        font-weight: 740;
        margin-bottom: 2rem;
    }

    .my-slider p {
        font-size: 1.2rem;
        font-weight: 380;
    }

    .my-slider ul {
        font-size: 0.9rem;
        font-weight: 380;
    }


    .fa-stack-lu {
        margin-right: -0.5rem;
        margin-left: 0;
    }
}
